---
http_interactions:
- request:
    method: get
    uri: https://mailtrap.io/api/accounts/1111111/billing/usage
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Bearer <BEARER_TOKEN>
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      X-Mailtrap-Version:
      - v2
      X-Ratelimit-Limit:
      - '150'
      X-Ratelimit-Remaining:
      - '149'
      Etag:
      - W/"fcfb7d10033fb8e579fa7eed2e69857d"
    body:
      encoding: ASCII-8BIT
      string: '{"billing":{"cycle_start":"2026-02-06T12:59:54.000Z","cycle_end":"2026-03-06T12:59:54.000Z"},"testing":{"plan":{"name":"Team"},"usage":{"sent_messages_count":{"current":0,"limit":5000},"forwarded_messages_count":{"current":0,"limit":500}}},"sending":{"plan":{"name":"Basic
        10K"},"usage":{"sent_messages_count":{"current":0,"limit":10000}}}}'
  recorded_at: Tue, 17 Feb 2026 12:56:11 GMT
recorded_with: VCR 6.4.0
