---
http_interactions:
- request:
    method: get
    uri: https://mailtrap.io/api/accounts/1111111/api_tokens/2498561
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Bearer <BEARER_TOKEN>
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      X-Mailtrap-Version:
      - v2
      X-Ratelimit-Limit:
      - '150'
      X-Ratelimit-Remaining:
      - '149'
      Etag:
      - W/"26fcf7c940c3e03455c6814d8f4822c2"
    body:
      encoding: ASCII-8BIT
      string: '{"resources":[{"resource_type":"account","resource_id":1719941,"access_level":100}],"id":2498561,"name":"SDK
        Dev Account Token","last_4_digits":"f44e","created_by":"John Doe","expires_at":null}'
  recorded_at: Wed, 29 Apr 2026 14:16:50 GMT
recorded_with: VCR 6.4.0
