---
http_interactions:
- request:
    method: post
    uri: https://mailtrap.io/api/accounts/1111111/email_templates
    body:
      encoding: UTF-8
      string: '{"email_template":{"name":"Test Template","subject":"Test Subject","category":"Test
        Category","body_html":"<div>Test HTML</div>","body_text":"Test Text"}}'
    headers:
      Authorization:
      - Bearer <BEARER_TOKEN>
      Content-Type:
      - application/json
  response:
    status:
      code: 201
      message: Created
    headers:
      Content-Type:
      - application/json; charset=utf-8
      X-Mailtrap-Version:
      - v2
      X-Ratelimit-Limit:
      - '150'
      X-Ratelimit-Remaining:
      - '145'
      Etag:
      - W/"ece196016a5a0712829e004d4666cfa0"
    body:
      encoding: UTF-8
      string: '{"id":40425,"uuid":"c7020fc1-f4cc-4c9b-afa8-2a9024c71665","name":"Test
        Template","category":"Test Category","subject":"Test Subject","body_html":"<div>Test
        HTML</div>","body_text":"Test Text","created_at":"2025-06-23T06:54:49.785Z","updated_at":"2025-06-23T06:54:49.785Z"}'
  recorded_at: Mon, 23 Jun 2025 06:54:49 GMT
- request:
    method: get
    uri: https://mailtrap.io/api/accounts/1111111/email_templates/40425
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Bearer <BEARER_TOKEN>
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      X-Mailtrap-Version:
      - v2
      X-Ratelimit-Limit:
      - '150'
      X-Ratelimit-Remaining:
      - '144'
      Etag:
      - W/"ece196016a5a0712829e004d4666cfa0"
    body:
      encoding: ASCII-8BIT
      string: '{"id":40425,"uuid":"c7020fc1-f4cc-4c9b-afa8-2a9024c71665","name":"Test
        Template","category":"Test Category","subject":"Test Subject","body_html":"<div>Test
        HTML</div>","body_text":"Test Text","created_at":"2025-06-23T06:54:49.785Z","updated_at":"2025-06-23T06:54:49.785Z"}'
  recorded_at: Mon, 23 Jun 2025 06:54:50 GMT
recorded_with: VCR 6.2.0
