---
http_interactions:
- request:
    method: post
    uri: https://mailtrap.io/api/accounts/1111111/email_templates
    body:
      encoding: UTF-8
      string: '{"email_template":{"name":"Test Template","subject":"Test Subject","category":"Test
        Category","body_html":"<div>Test HTML</div>","body_text":"Test Text"}}'
    headers:
      Authorization:
      - Bearer <BEARER_TOKEN>
      Content-Type:
      - application/json
  response:
    status:
      code: 201
      message: Created
    headers:
      Content-Type:
      - application/json; charset=utf-8
      X-Mailtrap-Version:
      - v2
      X-Ratelimit-Limit:
      - '150'
      X-Ratelimit-Remaining:
      - '147'
      Etag:
      - W/"bd6702a5f3abef9fe597313244e1d847"
    body:
      encoding: UTF-8
      string: '{"id":40424,"uuid":"2d17bded-c15b-4b7f-96c9-fd5d9011388f","name":"Test
        Template","category":"Test Category","subject":"Test Subject","body_html":"<div>Test
        HTML</div>","body_text":"Test Text","created_at":"2025-06-23T06:54:49.307Z","updated_at":"2025-06-23T06:54:49.307Z"}'
  recorded_at: Mon, 23 Jun 2025 06:54:49 GMT
- request:
    method: get
    uri: https://mailtrap.io/api/accounts/1111111/email_templates/40424
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Bearer <BEARER_TOKEN>
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      X-Mailtrap-Version:
      - v2
      X-Ratelimit-Limit:
      - '150'
      X-Ratelimit-Remaining:
      - '146'
      Etag:
      - W/"bd6702a5f3abef9fe597313244e1d847"
    body:
      encoding: ASCII-8BIT
      string: '{"id":40424,"uuid":"2d17bded-c15b-4b7f-96c9-fd5d9011388f","name":"Test
        Template","category":"Test Category","subject":"Test Subject","body_html":"<div>Test
        HTML</div>","body_text":"Test Text","created_at":"2025-06-23T06:54:49.307Z","updated_at":"2025-06-23T06:54:49.307Z"}'
  recorded_at: Mon, 23 Jun 2025 06:54:49 GMT
recorded_with: VCR 6.2.0
