---
http_interactions:
- request:
    method: put
    uri: https://mailtrap.io/api/accounts/1111111/account_accesses/5339621/permissions/bulk
    body:
      encoding: UTF-8
      string: '{"permissions":[{"resource_id":"1719941","resource_type":"account","access_level":"viewer"}]}'
    headers:
      Authorization:
      - Bearer <BEARER_TOKEN>
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      X-Mailtrap-Version:
      - v2
      X-Ratelimit-Limit:
      - '150'
      X-Ratelimit-Remaining:
      - '149'
      Etag:
      - W/"a6f38e5f5257d228ea419b1576fa9aa4"
    body:
      encoding: UTF-8
      string: '{"message":"Permissions have been updated!"}'
  recorded_at: Tue, 28 Apr 2026 14:43:16 GMT
recorded_with: VCR 6.4.0
