---
http_interactions:
- request:
    method: get
    uri: https://mailtrap.io/api/accounts/1111111/contacts/exports/652
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Bearer <BEARER_TOKEN>
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      X-Mailtrap-Version:
      - v2
      X-Ratelimit-Limit:
      - '150'
      X-Ratelimit-Remaining:
      - '149'
      Etag:
      - W/"d67f120af9be0ea9a59f5637da0cb5a5"
    body:
      encoding: ASCII-8BIT
      string: '{"id":652,"created_at":"2026-04-28T12:40:45.519Z","updated_at":"2026-04-28T12:40:45.677Z","status":"finished","url":"https://my-export.csv.gz"}'
  recorded_at: Tue, 28 Apr 2026 12:46:38 GMT
recorded_with: VCR 6.4.0
