---
http_interactions:
- request:
    method: post
    uri: https://mailtrap.io/api/organizations/2222222/sub_accounts
    body:
      encoding: UTF-8
      string: '{"account":{"name":"SDK Test Sub Account"}}'
    headers:
      Authorization:
      - Bearer <BEARER_TOKEN>
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      X-Mailtrap-Version:
      - v2
      X-Ratelimit-Limit:
      - '150'
      X-Ratelimit-Remaining:
      - '149'
      Etag:
      - W/"0b27462f8e3ad4f086b8334c71808f6a"
    body:
      encoding: UTF-8
      string: '{"id":2704237,"name":"SDK Test Sub Account"}'
  recorded_at: Wed, 29 Apr 2026 11:44:41 GMT
recorded_with: VCR 6.4.0
