---
http_interactions:
- request:
    method: get
    uri: https://mailtrap.io/api/accounts/1111111/sending_domains/617882
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Bearer <BEARER_TOKEN>
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      X-Mailtrap-Version:
      - v2
      X-Ratelimit-Limit:
      - '150'
      X-Ratelimit-Remaining:
      - '149'
      Etag:
      - W/"599af6a879c389fe0410607dfae4e4ef"
      X-Cloud-Trace-Context:
      - 0c408f022cf54b76c3a160c48508f34d;o=0
    body:
      encoding: ASCII-8BIT
      string: '{"domain_name":"demomailtrap.co","open_tracking_enabled":true,"click_tracking_enabled":false,"auto_unsubscribe_link_enabled":false,"custom_domain_tracking_enabled":false,"health_alerts_enabled":true,"critical_alerts_enabled":true,"alert_recipient_email":null,"demo":true,"id":617882,"dns_records":[{"key":"verification","domain":"demo.demomailtrap.co","type":"CNAME","value":"smtp.mailtrap.live","status":"pass","name":"demo"},{"key":"dkim1","domain":"rwmt1._domainkey.demomailtrap.co","type":"CNAME","value":"rwmt1.dkim.smtp.mailtrap.live","status":"pass","name":"rwmt1._domainkey"},{"key":"dkim2","domain":"rwmt2._domainkey.demomailtrap.co","type":"CNAME","value":"rwmt2.dkim.smtp.mailtrap.live","status":"pass","name":"rwmt2._domainkey"},{"key":"dmarc","name":"_dmarc"},{"key":"link_verification","domain":"mt-link.demomailtrap.co","type":"CNAME","value":"t.mailtrap.live","status":"pass","name":"mt-link"}],"dns_verified":true,"dns_verified_at":"2025-05-21T14:04:52.363Z","permissions":{"can_read":true,"can_update":true,"can_destroy":true},"compliance_status":"demo"}'
  recorded_at: Sun, 04 Jan 2026 16:24:01 GMT
recorded_with: VCR 6.2.0
