---
http_interactions:
- request:
    method: get
    uri: https://mailtrap.io/api/inbound/folders/77/inboxes
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Bearer <BEARER_TOKEN>
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      X-Mailtrap-Version:
      - v2
      X-Ratelimit-Limit:
      - '150'
      X-Ratelimit-Remaining:
      - '149'
      Etag:
      - W/"19de61481c01647d11a67e7bdb721d42"
    body:
      encoding: ASCII-8BIT
      string: '[{"id":473,"name":"Tickets (renamed)","address":"tickets-5e6f7a8b@inbound-mailtrap.io","domain_id":1237003}]'
  recorded_at: Fri, 24 Jul 2026 05:21:55 GMT
recorded_with: VCR 6.4.0
