---
http_interactions:
- request:
    method: post
    uri: https://mailtrap.io/api/accounts/1111111/email_templates
    body:
      encoding: UTF-8
      string: '{"email_template":{"name":"","subject":"Invalid Subject","category":"Invalid
        Category","body_html":"<div>Invalid</div>","body_text":"Invalid"}}'
    headers:
      Authorization:
      - Bearer <BEARER_TOKEN>
      Content-Type:
      - application/json
  response:
    status:
      code: 422
      message: Unprocessable Entity
    headers:
      Content-Type:
      - application/json; charset=utf-8
      X-Mailtrap-Version:
      - v2
      X-Ratelimit-Limit:
      - '150'
      X-Ratelimit-Remaining:
      - '143'
    body:
      encoding: UTF-8
      string: '{"errors":{"name":["can''t be blank"]}}'
  recorded_at: Mon, 23 Jun 2025 06:54:51 GMT
recorded_with: VCR 6.2.0
