---
http_interactions:
- request:
    method: delete
    uri: https://mailtrap.io/api/accounts/1111111/suppressions/fef0c580-1086-4ede-9fea-b8f5e256ba89
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Bearer <BEARER_TOKEN>
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      X-Mailtrap-Version:
      - v2
      X-Ratelimit-Limit:
      - '150'
      X-Ratelimit-Remaining:
      - '145'
      Etag:
      - W/"3230761a1067a7871abd18cc577d7799"
    body:
      encoding: ASCII-8BIT
      string: '{"id":"fef0c580-1086-4ede-9fea-b8f5e256ba89","type":"unsubscription","created_at":"2026-08-20T06:49:13.000Z","email":"welcome@rw.com","sending_stream":"transactional","domain_name":"example.com","message_bounce_category":null,"message_category":"Testing","message_client_ip":"","message_esp_response":"","message_esp_server_type":"","message_outgoing_ip":"","message_recipient_mx_name":"","message_sender_email":"sender@example.com","message_subject":"","message_created_at":"2026-05-07T16:34:22Z"}'
  recorded_at: Wed, 26 Aug 2026 14:41:43 GMT
recorded_with: VCR 6.4.0
