---
http_interactions:
- request:
    method: get
    uri: https://mailtrap.io/api/accounts/1111111/stats/domains?end_date=2026-01-31&start_date=2026-01-01
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Bearer <BEARER_TOKEN>
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      X-Mailtrap-Version:
      - v2
      X-Ratelimit-Limit:
      - '150'
      X-Ratelimit-Remaining:
      - '149'
      Etag:
      - W/"def456"
    body:
      encoding: ASCII-8BIT
      string: '[{"sending_domain_id":1,"stats":{"delivery_count":100,"delivery_rate":0.96,"bounce_count":4,"bounce_rate":0.04,"open_count":80,"open_rate":0.8,"click_count":40,"click_rate":0.5,"spam_count":1,"spam_rate":0.01}},{"sending_domain_id":2,"stats":{"delivery_count":50,"delivery_rate":0.93,"bounce_count":4,"bounce_rate":0.07,"open_count":40,"open_rate":0.8,"click_count":20,"click_rate":0.5,"spam_count":1,"spam_rate":0.02}}]'
  recorded_at: Tue, 04 Mar 2026 10:00:02 GMT
recorded_with: VCR 6.4.0
