---
http_interactions:
- request:
    method: post
    uri: https://mailtrap.io/api/accounts/1111111/api_tokens/2498713/reset
    body:
      encoding: UTF-8
      string: '{"expires_at":null}'
    headers:
      Authorization:
      - Bearer <BEARER_TOKEN>
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      X-Mailtrap-Version:
      - v2
      X-Ratelimit-Limit:
      - '150'
      X-Ratelimit-Remaining:
      - '148'
      Etag:
      - W/"4a3f2e1d5c6b7a899807b6c5d4e3f2c6"
    body:
      encoding: ASCII-8BIT
      string: '{"resources":[{"resource_type":"account","resource_id":1719941,"access_level":100}],"id":2498723,"name":"Ruby
        SDK Test Token 2498723","last_4_digits":"6789","created_by":"SDK Dev Account
        Token","expires_at":null,"token":"xxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxx"}'
  recorded_at: Mon, 03 Aug 2026 10:00:04 GMT
recorded_with: VCR 6.4.0
