---
http_interactions:
- request:
    method: post
    uri: https://mailtrap.io/api/accounts/1111111/contacts/exports
    body:
      encoding: UTF-8
      string: '{"filters":[{"name":"list_id","operator":"equal","value":[1,2]}]}'
    headers:
      Authorization:
      - Bearer <BEARER_TOKEN>
      Content-Type:
      - application/json
  response:
    status:
      code: 201
      message: Created
    headers:
      Content-Type:
      - application/json; charset=utf-8
      X-Mailtrap-Version:
      - v2
      X-Ratelimit-Limit:
      - '150'
      X-Ratelimit-Remaining:
      - '149'
      Etag:
      - W/"980ae684fd322575f34563688e3a19bf"
    body:
      encoding: UTF-8
      string: '{"id":652,"created_at":"2026-04-28T12:40:45.519Z","updated_at":"2026-04-28T12:40:45.519Z","status":"created","url":null}'
  recorded_at: Tue, 28 Apr 2026 12:40:45 GMT
recorded_with: VCR 6.4.0
