---
http_interactions:
- request:
    method: get
    uri: https://mailtrap.io/api/accounts/1111111/projects/2379735
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Bearer <BEARER_TOKEN>
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      X-Mailtrap-Version:
      - v2
      X-Ratelimit-Limit:
      - '150'
      X-Ratelimit-Remaining:
      - '149'
      Etag:
      - W/"73945ad22c0af8cfd6ac7e9d7e7bd190"
      X-Cloud-Trace-Context:
      - b88a38459cfc45b28b288c0424e27f64;o=0
    body:
      encoding: ASCII-8BIT
      string: '{"id":2379735,"name":"Ruby SDK Project","share_links":{"admin":"https://mailtrap.io/projects/2379735/share/QEVuQwEA4L8h5hP_6bzwo0asWC1hzsSRHJJPQujPwhAhI961iBL7hn64PK1h6oHx6mD8UqHFkkdHp1-qnHlCHM_80E4g-lzsGuxm9lJJYBxUFvyHTb9JxQ_xjua","viewer":"https://mailtrap.io/projects/2379735/share/QEVuQwEA4L8h5hP_6bzwo0asWC1hzsSRHJsb7XXpm-EuVLFIEJimnAuJzsZ1-PJfrU2Y8CjM"},"inboxes":[{"id":4294015,"name":"Main
        sandbox","username": "railsware","status":"active","email_username": "1234abcd","email_username_enabled":true,"used":true,"forward_from_email_address":
        "railsware@forward.mailtrap.info","project_id":2379735,"password": "xxxxxxxx","domain":"sandbox.smtp.mailtrap.io","pop3_domain":"pop3.mailtrap.io","email_domain":"inbox.mailtrap.io","smtp_ports":[25,465,587,2525],"pop3_ports":[1100,9950],"api_domain":"sandbox.api.mailtrap.io","sent_messages_count":1,"forwarded_messages_count":0,"emails_count":1,"emails_unread_count":1,"last_message_sent_at":"2026-01-08T12:41:49.000Z","max_size":200,"max_message_size":10485760,"permissions":{"can_read":true,"can_update":true,"can_destroy":true,"can_leave":false}}],"permissions":{"can_read":true,"can_update":true,"can_destroy":true,"can_leave":false}}'
  recorded_at: Thu, 08 Jan 2026 13:14:07 GMT
recorded_with: VCR 6.2.0
