---
http_interactions:
- request:
    method: post
    uri: https://mailtrap.io/api/accounts/1111111/email_templates
    body:
      encoding: UTF-8
      string: '{"email_template":{"name":"New Template","subject":"New Subject","category":"New
        Category","body_html":"<div>New HTML</div>","body_text":"New Text"}}'
    headers:
      Authorization:
      - Bearer <BEARER_TOKEN>
      Content-Type:
      - application/json
  response:
    status:
      code: 201
      message: Created
    headers:
      Content-Type:
      - application/json; charset=utf-8
      X-Mailtrap-Version:
      - v2
      X-Ratelimit-Limit:
      - '150'
      X-Ratelimit-Remaining:
      - '144'
      Etag:
      - W/"f044c2be19d23522af0e7ef02fe33d01"
    body:
      encoding: UTF-8
      string: '{"id":40430,"uuid":"852d7259-378d-4cd9-81ae-ddf9725107c1","name":"New
        Template","category":"New Category","subject":"New Subject","body_html":"<div>New
        HTML</div>","body_text":"New Text","created_at":"2025-06-23T06:54:51.436Z","updated_at":"2025-06-23T06:54:51.436Z"}'
  recorded_at: Mon, 23 Jun 2025 06:54:51 GMT
recorded_with: VCR 6.2.0
