---
http_interactions:
- request:
    method: post
    uri: https://mailtrap.io/api/accounts/1111111/email_templates
    body:
      encoding: UTF-8
      string: '{"email_template":{"name":"New Template","subject":"New Subject","category":"New
        Category","body_html":"<div>New HTML</div>","body_text":"New Text"}}'
    headers:
      Authorization:
      - Bearer <BEARER_TOKEN>
      Content-Type:
      - application/json
  response:
    status:
      code: 201
      message: Created
    headers:
      Content-Type:
      - application/json; charset=utf-8
      X-Mailtrap-Version:
      - v2
      X-Ratelimit-Limit:
      - '150'
      X-Ratelimit-Remaining:
      - '145'
      Etag:
      - W/"31a2afa4da7b119528dfc373bab0e8ba"
    body:
      encoding: UTF-8
      string: '{"id":40429,"uuid":"5e5c16ea-1400-4a3b-a52b-3a0ad1452aae","name":"New
        Template","category":"New Category","subject":"New Subject","body_html":"<div>New
        HTML</div>","body_text":"New Text","created_at":"2025-06-23T06:54:51.199Z","updated_at":"2025-06-23T06:54:51.199Z"}'
  recorded_at: Mon, 23 Jun 2025 06:54:51 GMT
recorded_with: VCR 6.2.0
