---
http_interactions:
- request:
    method: post
    uri: https://mailtrap.io/api/accounts/1111111/api_tokens
    body:
      encoding: UTF-8
      string: '{"name":"Ruby SDK Test Token","resources":[{"resource_type":"account","resource_id":1111111,"access_level":100}]}'
    headers:
      Authorization:
      - Bearer <BEARER_TOKEN>
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      X-Mailtrap-Version:
      - v2
      X-Ratelimit-Limit:
      - '150'
      X-Ratelimit-Remaining:
      - '149'
      Etag:
      - W/"bcc82ee33e2e4e0ca856e839d077c5cb"
    body:
      encoding: ASCII-8BIT
      string: '{"resources":[{"resource_type":"account","resource_id":1719941,"access_level":100}],"id":2498713,"name":"Ruby
        SDK Test Token","last_4_digits":"dcf7","created_by":"SDK Dev Account Token","expires_at":null,"token":"d5335b07610bd99b7fbc03f80e26dcf7"}'
  recorded_at: Wed, 29 Apr 2026 14:21:57 GMT
recorded_with: VCR 6.4.0
