---
http_interactions:
- request:
    method: post
    uri: https://mailtrap.io/api/accounts/1111111/email_templates
    body:
      encoding: UTF-8
      string: '{"email_template":{"name":"Original Template","subject":"Original Subject","category":"Original
        Category","body_html":"<div>Original HTML</div>","body_text":"Original Text"}}'
    headers:
      Authorization:
      - Bearer <BEARER_TOKEN>
      Content-Type:
      - application/json
  response:
    status:
      code: 201
      message: Created
    headers:
      Content-Type:
      - application/json; charset=utf-8
      X-Mailtrap-Version:
      - v2
      X-Ratelimit-Limit:
      - '150'
      X-Ratelimit-Remaining:
      - '116'
      Etag:
      - W/"6e601a1406c6107112aa8df9712c2c22"
      X-Cloud-Trace-Context:
      - 549ca0c5608b4fe1c44e742d60768b14;o=0
    body:
      encoding: UTF-8
      string: '{"id":40444,"uuid":"75417b13-e86f-40c8-b34c-58050ddcbd0d","name":"Original
        Template","category":"Original Category","subject":"Original Subject","body_html":"<div>Original
        HTML</div>","body_text":"Original Text","created_at":"2025-06-23T06:54:57.995Z","updated_at":"2025-06-23T06:54:57.995Z"}'
  recorded_at: Mon, 23 Jun 2025 06:54:58 GMT
- request:
    method: patch
    uri: https://mailtrap.io/api/accounts/1111111/email_templates/999999
    body:
      encoding: UTF-8
      string: '{"email_template":{"name":"Updated Template","subject":"Updated Subject","category":"Updated
        Category","body_html":"<div>Updated HTML</div>","body_text":"Updated Text"}}'
    headers:
      Authorization:
      - Bearer <BEARER_TOKEN>
      Content-Type:
      - application/json
  response:
    status:
      code: 404
      message: Not Found
    headers:
      Content-Type:
      - application/json; charset=utf-8
      X-Mailtrap-Version:
      - v2
      X-Ratelimit-Limit:
      - '150'
      X-Ratelimit-Remaining:
      - '115'
      X-Cloud-Trace-Context:
      - 1246879cf4014fa48a8a9453d47c0faf;o=0
    body:
      encoding: UTF-8
      string: '{"error":"Not Found"}'
  recorded_at: Mon, 23 Jun 2025 06:54:58 GMT
recorded_with: VCR 6.2.0
