---
http_interactions:
- request:
    method: post
    uri: https://mailtrap.io/api/tracking_opt_outs
    body:
      encoding: UTF-8
      string: '{"email":"tracked@example.com","domain_id":12345}'
    headers:
      Authorization:
      - Bearer <BEARER_TOKEN>
      Content-Type:
      - application/json
  response:
    status:
      code: 201
      message: Created
    headers:
      Content-Type:
      - application/json; charset=utf-8
      X-Mailtrap-Version:
      - v2
      X-Ratelimit-Limit:
      - '150'
      X-Ratelimit-Remaining:
      - '149'
      Etag:
      - W/"5d738475c54060f0e8cc53e25e896af2"
    body:
      encoding: UTF-8
      string: '{"data":{"id":"e8425b32-7368-42d3-b297-2c2bb5441634","email":"welcome@rw.com","created_at":"2026-08-26T14:52:25.909Z","domain_name":"example.com"}}'
  recorded_at: Wed, 26 Aug 2026 14:52:25 GMT
recorded_with: VCR 6.4.0
