---
http_interactions:
- request:
    method: get
    uri: https://mailtrap.io/api/inbound/inboxes/3924/messages/1878219290673225792
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Bearer <BEARER_TOKEN>
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      X-Mailtrap-Version:
      - v2
      X-Ratelimit-Limit:
      - '150'
      X-Ratelimit-Remaining:
      - '147'
      Etag:
      - W/"4c59bfb4b64b6ae6ae85756d8c0247be"
    body:
      encoding: ASCII-8BIT
      string: '{"id":"1878219290673225792","inbox_id":3924,"from":"SDK VCR customer
        <sdk-vcr-customer@sdk-smoke-tests.mailtrap.link>","to":["support@sdk-smoke-tests.mailtrap.link"],"cc":[],"bcc":[],"reply_to":null,"subject":"Acme
        order 20261005141136","headers":{"mime-version":"1.0", "return-path":""},"size":2592,"html_size":null,"text_size":42,"received_at":"2026-10-05T14:11:38.092Z","rfc_message_id":"<adfb6f30-c0c6-11f1-0000-f19ecc788a53@sdk-smoke-tests.mailtrap.link>","in_reply_to":null,"references":[],"thread_id":"1878219290603651072","attachments":[],"forwards":[{"rule_id":1,"rule_name":"SDK
        VCR copy everything","destination":"welcome@rw.com","status":"forwarded","reason":null,"message_id":"aeb4fb30-c0c6-11f1-0040-f1fba91def36"}],"raw_message_url":"https://example.com/signed-url","raw_message_expires_at":"2026-10-05T15:16:05.033Z","html_body":null,"text_body":"Hello,
        I have a question about my order.\r\n"}'
  recorded_at: Mon, 05 Oct 2026 14:16:05 GMT
recorded_with: VCR 6.4.0
