---
http_interactions:
- request:
    method: post
    uri: https://mailtrap.io/api/accounts/1111111/sending_domains/-1/company_info
    body:
      encoding: UTF-8
      string: '{"company_info":{"name":"Mailtrap","address":"123 Main St","city":"San
        Francisco","country":"US","zip_code":"94105","website_url":"https://mailtrap.io","info_level":"business"}}'
    headers:
      Authorization:
      - Bearer <BEARER_TOKEN>
      Content-Type:
      - application/json
  response:
    status:
      code: 404
      message: Not Found
    headers:
      Content-Type:
      - application/json; charset=utf-8
      X-Mailtrap-Version:
      - v2
      X-Ratelimit-Limit:
      - '150'
      X-Ratelimit-Remaining:
      - '147'
    body:
      encoding: UTF-8
      string: '{"error":"Not Found"}'
  recorded_at: Tue, 28 Apr 2026 10:21:27 GMT
recorded_with: VCR 6.4.0
