---
http_interactions:
- request:
    method: post
    uri: https://mailtrap.io/api/accounts/1111111/projects
    body:
      encoding: UTF-8
      string: '{"project":{"name":"Project to Delete"}}'
    headers:
      Authorization:
        - Bearer <BEARER_TOKEN>
      Content-Type:
        - application/json
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
        - application/json; charset=utf-8
      X-Mailtrap-Version:
        - v2
      X-Ratelimit-Limit:
        - '150'
      X-Ratelimit-Remaining:
        - '145'
      Etag:
        - W/"0e4606bbbb28136031c4cdbe1950f3b9"
      X-Cloud-Trace-Context:
        - d809888ce0ce4000c29024f512e7e29f;o=0
    body:
      encoding: UTF-8
      string: '{"id":2568513,"name":"Project to Delete","share_links":{"admin":"https://mailtrap.io/projects/2568513/share/REDACTED","viewer":"https://mailtrap.io/projects/2568513/share/REDACTED"},"inboxes":[],"permissions":{"can_read":true,"can_update":true,"can_destroy":true,"can_leave":false}}'
  recorded_at: Thu, 06 Nov 2025 17:22:51 GMT
- request:
    method: delete
    uri: https://mailtrap.io/api/accounts/1111111/projects/999999
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
        - Bearer <BEARER_TOKEN>
      Content-Type:
        - application/json
  response:
    status:
      code: 404
      message: Not Found
    headers:
      Content-Type:
        - application/json; charset=utf-8
      X-Mailtrap-Version:
        - v2
      X-Ratelimit-Limit:
        - '150'
      X-Ratelimit-Remaining:
        - '144'
      X-Cloud-Trace-Context:
        - 74a6838b91ab47e88a4d153953752848;o=0
    body:
      encoding: UTF-8
      string: '{"error":"Not Found"}'
  recorded_at: Thu, 06 Nov 2025 17:22:51 GMT
recorded_with: VCR 6.2.0
