---
http_interactions:
- request:
    method: get
    uri: https://mailtrap.io/api/inbound/inboxes/3924/threads/1878219290603651072
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Bearer <BEARER_TOKEN>
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      X-Mailtrap-Version:
      - v2
      X-Ratelimit-Limit:
      - '150'
      X-Ratelimit-Remaining:
      - '148'
      Etag:
      - W/"0694dfb9ffbff7444f0e38eaf0e68fb9"
    body:
      encoding: ASCII-8BIT
      string: '{"id":"1878219290603651072","subject":"Acme order 20261005141136","message_count":5,"size":9134,"first_message_at":"2026-10-05T14:11:38.019Z","last_received_at":"2026-10-05T14:11:49.776Z","last_sent_at":"2026-10-05T14:11:50.519Z","last_activity_at":"2026-10-05T14:11:50.519Z","last_message_id":"1878219303702581248","senders":["SDK
        VCR customer <sdk-vcr-customer@sdk-smoke-tests.mailtrap.link>","support@sdk-smoke-tests.mailtrap.link","sdk-vcr-customer@sdk-smoke-tests.mailtrap.link"],"recipients":["support@sdk-smoke-tests.mailtrap.link","SDK
        VCR customer <sdk-vcr-customer@sdk-smoke-tests.mailtrap.link>","forwarded@example.com"],"attachments":[],"messages":[{"visibility_status":"available","direction":"outbound","id":"adfb6f30-c0c6-11f1-0000-f19ecc788a53","message_group_id":null,"subject":"Acme
        order 20261005141136","rfc_message_id":"<adfb6f30-c0c6-11f1-0000-f19ecc788a53@sdk-smoke-tests.mailtrap.link>","in_reply_to":null,"references":[],"from":"SDK
        VCR customer <sdk-vcr-customer@sdk-smoke-tests.mailtrap.link>","to":["support@sdk-smoke-tests.mailtrap.link"],"cc":[],"bcc":[],"reply_to":"","created_at":"2026-10-05T14:11:38.019Z","email_size":340,"text_body":"Hello,
        I have a question about my order.","html_body":null,"attachments":[],"delivery_status":"delivered","delivered_at":"2026-10-05T14:11:38.108Z","bounced_at":null,"delivery":{"to":"support@sdk-smoke-tests.mailtrap.link","status":"delivered","delivered_at":"2026-10-05T14:11:38.108Z","bounced_at":null}},{"visibility_status":"available","direction":"inbound","id":"1878219290673225792","message_group_id":null,"subject":"Acme
        order 20261005141136","rfc_message_id":"<adfb6f30-c0c6-11f1-0000-f19ecc788a53@sdk-smoke-tests.mailtrap.link>","in_reply_to":null,"references":[],"from":"SDK
        VCR customer <sdk-vcr-customer@sdk-smoke-tests.mailtrap.link>","to":["support@sdk-smoke-tests.mailtrap.link"],"cc":[],"bcc":[],"reply_to":"","created_at":"2026-10-05T14:11:38.092Z","email_size":2592,"text_body":"Hello,
        I have a question about my order.\r\n","html_body":null,"attachments":[],"forwards":[{"rule_id":1,"rule_name":"SDK
        VCR copy everything","destination":"welcome@rw.com","status":"forwarded","reason":null,"message_id":"aeb4fb30-c0c6-11f1-0040-f1fba91def36"}]},{"visibility_status":"available","direction":"outbound","id":"b4f5a0d0-c0c6-11f1-0000-f19ecc788a53","message_group_id":null,"subject":"Re:
        Acme order 20261005141136","rfc_message_id":"<b4f5a0d0-c0c6-11f1-0000-f19ecc788a53@sdk-smoke-tests.mailtrap.link>","in_reply_to":"<adfb6f30-c0c6-11f1-0000-f19ecc788a53@sdk-smoke-tests.mailtrap.link>","references":["<adfb6f30-c0c6-11f1-0000-f19ecc788a53@sdk-smoke-tests.mailtrap.link>"],"from":"support@sdk-smoke[...]
