---
http_interactions:
- request:
    method: patch
    uri: https://mailtrap.io/api/accounts/1111111/inboxes/-1
    body:
      encoding: UTF-8
      string: '{"inbox":{"name":"Updated Inbox","email_username":"updated_username"}}'
    headers:
      Authorization:
      - Bearer <BEARER_TOKEN>
      Content-Type:
      - application/json
  response:
    status:
      code: 404
      message: Not Found
    headers:
      Content-Type:
      - application/json; charset=utf-8
      X-Mailtrap-Version:
      - v2
      X-Ratelimit-Limit:
      - '150'
      X-Ratelimit-Remaining:
      - '147'
    body:
      encoding: ASCII-8BIT
      string: '{"error":"Not Found"}'
  recorded_at: Fri, 26 Dec 2025 17:06:55 GMT
recorded_with: VCR 6.2.0
