---
http_interactions:
- request:
    method: post
    uri: https://mailtrap.io/api/accounts/1111111/webhooks
    body:
      encoding: UTF-8
      string: '{"webhook":{"url":"https://example.com/mailtrap/webhooks","webhook_type":"email_sending","payload_format":"json","sending_stream":"transactional","event_types":["delivery","bounce"]}}'
    headers:
      Authorization:
      - Bearer <BEARER_TOKEN>
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      X-Mailtrap-Version:
      - v2
      X-Ratelimit-Limit:
      - '150'
      X-Ratelimit-Remaining:
      - '149'
      Etag:
      - W/"64f2974d0941249a1cff76a9a4195937"
    body:
      encoding: ASCII-8BIT
      string: '{"data":{"signing_secret":"my-signing-secret","id":3080,"url":"https://example.com/mailtrap/webhooks","active":true,"webhook_type":"email_sending","payload_format":"json","sending_stream":"transactional","domain_id":null,"event_types":["delivery","bounce"]}}'
  recorded_at: Tue, 05 May 2026 06:28:51 GMT
recorded_with: VCR 6.4.0
