---
http_interactions:
- request:
    method: post
    uri: https://mailtrap.io/api/accounts/1111111/projects
    body:
      encoding: UTF-8
      string: '{"project":{"name":"New Project"}}'
    headers:
      Authorization:
        - Bearer <BEARER_TOKEN>
      Content-Type:
        - application/json
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
        - application/json; charset=utf-8
      X-Mailtrap-Version:
        - v2
      X-Ratelimit-Limit:
        - '150'
      X-Ratelimit-Remaining:
        - '144'
      Etag:
        - W/"068e7482a443be1cfa101ad7b01feb49"
    body:
      encoding: UTF-8
      string: '{"id":2568506,"name":"New Project","share_links":{"admin":"https://mailtrap.io/projects/2568506/share/REDACTED","viewer":"https://mailtrap.io/projects/2568506/share/REDACTED"},"inboxes":[],"permissions":{"can_read":true,"can_update":true,"can_destroy":true,"can_leave":false}}'
  recorded_at: Thu, 06 Nov 2025 17:22:47 GMT
recorded_with: VCR 6.2.0
