---
http_interactions:
- request:
    method: post
    uri: https://mailtrap.io/api/accounts/1111111/sending_domains
    body:
      encoding: UTF-8
      string: '{"sending_domain":{"domain_name":"mailtrappio.com"}}'
    headers:
      Authorization:
      - Bearer <BEARER_TOKEN>
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      X-Mailtrap-Version:
      - v2
      X-Ratelimit-Limit:
      - '150'
      X-Ratelimit-Remaining:
      - '149'
      Etag:
      - W/"0c5da75876ea174e9cd60e204537d3d1"
      X-Cloud-Trace-Context:
      - d3ef2277158a46b3c6bd0be3a0b6e040;o=0
    body:
      encoding: ASCII-8BIT
      string: '{"domain_name":"mailtrappio.com","open_tracking_enabled":true,"click_tracking_enabled":false,"auto_unsubscribe_link_enabled":false,"custom_domain_tracking_enabled":false,"health_alerts_enabled":true,"critical_alerts_enabled":true,"alert_recipient_email":null,"demo":false,"id":943758,"dns_records":[{"key":"verification","domain":"mt07.mailtrappio.com","type":"CNAME","value":"smtp.mailtrap.live","status":"missing","name":"mt07"},{"key":"dkim1","domain":"rwmt1._domainkey.mailtrappio.com","type":"CNAME","value":"rwmt1.dkim.smtp.mailtrap.live","status":"missing","name":"rwmt1._domainkey"},{"key":"dkim2","domain":"rwmt2._domainkey.mailtrappio.com","type":"CNAME","value":"rwmt2.dkim.smtp.mailtrap.live","status":"missing","name":"rwmt2._domainkey"},{"key":"dmarc","domain":"_dmarc.mailtrappio.com","type":"TXT","value":"v=DMARC1;
        p=none; rua=mailto:dmarc@smtp-staging.mailtrap.net; ruf=mailto:dmarc@smtp-staging.mailtrap.net;
        rf=afrf; pct=100","status":"missing","name":"_dmarc"},{"key":"link_verification","domain":"mt-link.mailtrappio.com","type":"CNAME","value":"t.mailtrap.live","status":"missing","name":"mt-link"}],"dns_verified":false,"dns_verified_at":"","permissions":{"can_read":true,"can_update":true,"can_destroy":true},"compliance_status":"unverified_dns"}'
  recorded_at: Sun, 04 Jan 2026 16:27:07 GMT
recorded_with: VCR 6.2.0
