---
http_interactions:
- request:
    method: post
    uri: https://mailtrap.io/api/accounts/1111111/email_templates
    body:
      encoding: UTF-8
      string: '{"email_template":{"name":"Template to Delete","subject":"Delete Subject","category":"Delete
        Category","body_html":"<div>Delete HTML</div>","body_text":"Delete Text"}}'
    headers:
      Authorization:
      - Bearer <BEARER_TOKEN>
      Content-Type:
      - application/json
  response:
    status:
      code: 201
      message: Created
    headers:
      Content-Type:
      - application/json; charset=utf-8
      X-Mailtrap-Version:
      - v2
      X-Ratelimit-Limit:
      - '150'
      X-Ratelimit-Remaining:
      - '114'
      Etag:
      - W/"2bbf04ce511ec598d582fc6c302ae664"
    body:
      encoding: UTF-8
      string: '{"id":40445,"uuid":"3c5c03dc-b688-499d-9594-abb949840de9","name":"Template
        to Delete","category":"Delete Category","subject":"Delete Subject","body_html":"<div>Delete
        HTML</div>","body_text":"Delete Text","created_at":"2025-06-23T06:54:58.438Z","updated_at":"2025-06-23T06:54:58.438Z"}'
  recorded_at: Mon, 23 Jun 2025 06:54:58 GMT
- request:
    method: delete
    uri: https://mailtrap.io/api/accounts/1111111/email_templates/40445
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Bearer <BEARER_TOKEN>
      Content-Type:
      - application/json
  response:
    status:
      code: 204
      message: No Content
    headers:
      X-Mailtrap-Version:
      - v2
      X-Ratelimit-Limit:
      - '150'
      X-Ratelimit-Remaining:
      - '113'
    body:
      encoding: UTF-8
      string: ''
  recorded_at: Mon, 23 Jun 2025 06:54:58 GMT
recorded_with: VCR 6.2.0
