---
http_interactions:
- request:
    method: post
    uri: https://mailtrap.io/api/accounts/1111111/email_templates
    body:
      encoding: UTF-8
      string: '{"email_template":{"name":"Original Template","subject":"Original Subject","category":"Original
        Category","body_html":"<div>Original HTML</div>","body_text":"Original Text"}}'
    headers:
      Authorization:
      - Bearer <BEARER_TOKEN>
      Content-Type:
      - application/json
  response:
    status:
      code: 201
      message: Created
    headers:
      Content-Type:
      - application/json; charset=utf-8
      X-Mailtrap-Version:
      - v2
      X-Ratelimit-Limit:
      - '150'
      X-Ratelimit-Remaining:
      - '142'
      Etag:
      - W/"e19aee0c5b971389d2f4ea2a93bf5a83"
    body:
      encoding: UTF-8
      string: '{"id":40431,"uuid":"579aba2f-59ea-48f7-89dd-b6fa7dced563","name":"Original
        Template","category":"Original Category","subject":"Original Subject","body_html":"<div>Original
        HTML</div>","body_text":"Original Text","created_at":"2025-06-23T06:54:51.893Z","updated_at":"2025-06-23T06:54:51.893Z"}'
  recorded_at: Mon, 23 Jun 2025 06:54:51 GMT
- request:
    method: patch
    uri: https://mailtrap.io/api/accounts/1111111/email_templates/40431
    body:
      encoding: UTF-8
      string: '{"email_template":{"name":"Updated Template","subject":"Updated Subject","category":"Updated
        Category","body_html":"<div>Updated HTML</div>","body_text":"Updated Text"}}'
    headers:
      Authorization:
      - Bearer <BEARER_TOKEN>
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      X-Mailtrap-Version:
      - v2
      X-Ratelimit-Limit:
      - '150'
      X-Ratelimit-Remaining:
      - '141'
      Etag:
      - W/"ed92bcdaddd26f240aae9a4faf8a784f"
    body:
      encoding: ASCII-8BIT
      string: '{"id":40431,"uuid":"579aba2f-59ea-48f7-89dd-b6fa7dced563","name":"Updated
        Template","category":"Updated Category","subject":"Updated Subject","body_html":"<div>Updated
        HTML</div>","body_text":"Updated Text","created_at":"2025-06-23T06:54:51.893Z","updated_at":"2025-06-23T06:54:52.178Z"}'
  recorded_at: Mon, 23 Jun 2025 06:54:52 GMT
recorded_with: VCR 6.2.0
