---
http_interactions:
- request:
    method: post
    uri: https://mailtrap.io/api/accounts/1111111/api_tokens
    body:
      encoding: UTF-8
      string: '{"name":"Ruby SDK Test Token","expires_at":null,"resources":[{"resource_type":"account","resource_id":1111111,"access_level":100}]}'
    headers:
      Authorization:
      - Bearer <BEARER_TOKEN>
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      X-Mailtrap-Version:
      - v2
      X-Ratelimit-Limit:
      - '150'
      X-Ratelimit-Remaining:
      - '148'
      Etag:
      - W/"2e1d0c3b4a5968778695a4b3c2d1e0a8"
    body:
      encoding: ASCII-8BIT
      string: '{"resources":[{"resource_type":"account","resource_id":1719941,"access_level":100}],"id":2498721,"name":"Ruby
        SDK Test Token","last_4_digits":"4d21","created_by":"SDK Dev Account Token","expires_at":null,"token":"xxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxx"}'
  recorded_at: Mon, 03 Aug 2026 10:00:01 GMT
recorded_with: VCR 6.4.0
