---
http_interactions:
- request:
    method: post
    uri: https://mailtrap.io/api/accounts/1111111/projects
    body:
      encoding: UTF-8
      string: '{"project":{"name":"Project to Delete"}}'
    headers:
      Authorization:
        - Bearer <BEARER_TOKEN>
      Content-Type:
        - application/json
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
        - application/json; charset=utf-8
      X-Mailtrap-Version:
        - v2
      X-Ratelimit-Limit:
        - '150'
      X-Ratelimit-Remaining:
        - '147'
      Etag:
        - W/"042f85c44df5dda84dd0a212a8a84067"
      X-Cloud-Trace-Context:
        - e1b497c7012c49a88f7c34a4285079aa;o=0
    body:
      encoding: UTF-8
      string: '{"id":2568512,"name":"Project to Delete","share_links":{"admin":"https://mailtrap.io/projects/2568512/share/REDACTED","viewer":"https://mailtrap.io/projects/2568512/share/REDACTED"},"inboxes":[],"permissions":{"can_read":true,"can_update":true,"can_destroy":true,"can_leave":false}}'
  recorded_at: Thu, 06 Nov 2025 17:22:50 GMT
- request:
    method: delete
    uri: https://mailtrap.io/api/accounts/1111111/projects/2568512
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
        - Bearer <BEARER_TOKEN>
      Content-Type:
        - application/json
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
        - application/json; charset=utf-8
      X-Mailtrap-Version:
        - v2
      X-Ratelimit-Limit:
        - '150'
      X-Ratelimit-Remaining:
        - '146'
      Etag:
        - W/"268931c8d55249081f5793b71c967b16"
      X-Cloud-Trace-Context:
        - 29e3d8994f6b4a79831a029a0bf2af97;o=0
    body:
      encoding: UTF-8
      string: '{"id":2568512}'
  recorded_at: Thu, 06 Nov 2025 17:22:50 GMT
recorded_with: VCR 6.2.0
