---
http_interactions:
- request:
    method: post
    uri: https://mailtrap.io/api/accounts/1111111/email_templates
    body:
      encoding: UTF-8
      string: '{"email_template":{"name":"Original Template","subject":"Original Subject","category":"Original
        Category","body_html":"<div>Original HTML</div>","body_text":"Original Text"}}'
    headers:
      Authorization:
      - Bearer <BEARER_TOKEN>
      Content-Type:
      - application/json
  response:
    status:
      code: 201
      message: Created
    headers:
      Content-Type:
      - application/json; charset=utf-8
      X-Mailtrap-Version:
      - v2
      X-Ratelimit-Limit:
      - '150'
      X-Ratelimit-Remaining:
      - '118'
      Etag:
      - W/"ef39f8cf1c286a575bbb3c6367aa6d21"
      X-Cloud-Trace-Context:
      - 06ada4377ccd47b4c64cb24df6a30abd;o=0
    body:
      encoding: UTF-8
      string: '{"id":40443,"uuid":"3e16835e-1bc0-4b81-829c-efb71d107afd","name":"Original
        Template","category":"Original Category","subject":"Original Subject","body_html":"<div>Original
        HTML</div>","body_text":"Original Text","created_at":"2025-06-23T06:54:57.521Z","updated_at":"2025-06-23T06:54:57.521Z"}'
  recorded_at: Mon, 23 Jun 2025 06:54:57 GMT
- request:
    method: patch
    uri: https://mailtrap.io/api/accounts/1111111/email_templates/40443
    body:
      encoding: UTF-8
      string: '{"email_template":{"category":"Updated Category","body_html":"<div>Updated
        HTML</div>"}}'
    headers:
      Authorization:
      - Bearer <BEARER_TOKEN>
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      X-Mailtrap-Version:
      - v2
      X-Ratelimit-Limit:
      - '150'
      X-Ratelimit-Remaining:
      - '117'
      Etag:
      - W/"fe0e0b694e3162d240205ce1d87dba41"
      X-Cloud-Trace-Context:
      - 7bb2143167fd40dec43b4adda171876d;o=0
    body:
      encoding: ASCII-8BIT
      string: '{"id":40443,"uuid":"3e16835e-1bc0-4b81-829c-efb71d107afd","name":"Original
        Template","category":"Updated Category","subject":"Original Subject","body_html":"<div>Updated
        HTML</div>","body_text":"Original Text","created_at":"2025-06-23T06:54:57.521Z","updated_at":"2025-06-23T06:54:57.763Z"}'
  recorded_at: Mon, 23 Jun 2025 06:54:57 GMT
recorded_with: VCR 6.2.0
