---
http_interactions:
- request:
    method: post
    uri: https://mailtrap.io/api/accounts/1111111/email_templates
    body:
      encoding: UTF-8
      string: '{"email_template":{"name":"Original Template","subject":"Original Subject","category":"Original
        Category","body_html":"<div>Original HTML</div>","body_text":"Original Text"}}'
    headers:
      Authorization:
      - Bearer <BEARER_TOKEN>
      Content-Type:
      - application/json
  response:
    status:
      code: 201
      message: Created
    headers:
      Content-Type:
      - application/json; charset=utf-8
      X-Mailtrap-Version:
      - v2
      X-Ratelimit-Limit:
      - '150'
      X-Ratelimit-Remaining:
      - '122'
      Etag:
      - W/"1d7d0e204eb570559c58c59794fcafc5"
    body:
      encoding: UTF-8
      string: '{"id":40441,"uuid":"754cdb48-593a-4982-a2d1-99f586725ddb","name":"Original
        Template","category":"Original Category","subject":"Original Subject","body_html":"<div>Original
        HTML</div>","body_text":"Original Text","created_at":"2025-06-23T06:54:56.608Z","updated_at":"2025-06-23T06:54:56.608Z"}'
  recorded_at: Mon, 23 Jun 2025 06:54:56 GMT
- request:
    method: patch
    uri: https://mailtrap.io/api/accounts/1111111/email_templates/40441
    body:
      encoding: UTF-8
      string: '{"email_template":{"category":"Updated Category","body_html":"<div>Updated
        HTML</div>"}}'
    headers:
      Authorization:
      - Bearer <BEARER_TOKEN>
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      X-Mailtrap-Version:
      - v2
      X-Ratelimit-Limit:
      - '150'
      X-Ratelimit-Remaining:
      - '121'
      Etag:
      - W/"6bd0cf8b1806d831f449773925699f13"
    body:
      encoding: ASCII-8BIT
      string: '{"id":40441,"uuid":"754cdb48-593a-4982-a2d1-99f586725ddb","name":"Original
        Template","category":"Updated Category","subject":"Original Subject","body_html":"<div>Updated
        HTML</div>","body_text":"Original Text","created_at":"2025-06-23T06:54:56.608Z","updated_at":"2025-06-23T06:54:56.839Z"}'
  recorded_at: Mon, 23 Jun 2025 06:54:56 GMT
recorded_with: VCR 6.2.0
