---
http_interactions:
- request:
    method: post
    uri: https://mailtrap.io/api/accounts/1111111/email_templates
    body:
      encoding: UTF-8
      string: '{"email_template":{"name":"Original Template","subject":"Original Subject","category":"Original
        Category","body_html":"<div>Original HTML</div>","body_text":"Original Text"}}'
    headers:
      Authorization:
      - Bearer <BEARER_TOKEN>
      Content-Type:
      - application/json
  response:
    status:
      code: 201
      message: Created
    headers:
      Content-Type:
      - application/json; charset=utf-8
      X-Mailtrap-Version:
      - v2
      X-Ratelimit-Limit:
      - '150'
      X-Ratelimit-Remaining:
      - '120'
      Etag:
      - W/"0cd34e2ddd1b029ef16c2be5ea4ee4f2"
      X-Cloud-Trace-Context:
      - 0c26f2a78fa9405cc6a784bbaf20b504;o=0
    body:
      encoding: UTF-8
      string: '{"id":40442,"uuid":"57df7d31-c817-4a3c-8bda-48b7db1f496b","name":"Original
        Template","category":"Original Category","subject":"Original Subject","body_html":"<div>Original
        HTML</div>","body_text":"Original Text","created_at":"2025-06-23T06:54:57.066Z","updated_at":"2025-06-23T06:54:57.066Z"}'
  recorded_at: Mon, 23 Jun 2025 06:54:57 GMT
- request:
    method: patch
    uri: https://mailtrap.io/api/accounts/1111111/email_templates/40442
    body:
      encoding: UTF-8
      string: '{"email_template":{"category":"Updated Category","body_html":"<div>Updated
        HTML</div>"}}'
    headers:
      Authorization:
      - Bearer <BEARER_TOKEN>
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      X-Mailtrap-Version:
      - v2
      X-Ratelimit-Limit:
      - '150'
      X-Ratelimit-Remaining:
      - '119'
      Etag:
      - W/"82841abf0020e6e0927f57ea5aa2b5c5"
      X-Cloud-Trace-Context:
      - c1c6bc0d11684e1ec60190f30289f002;o=0
    body:
      encoding: ASCII-8BIT
      string: '{"id":40442,"uuid":"57df7d31-c817-4a3c-8bda-48b7db1f496b","name":"Original
        Template","category":"Updated Category","subject":"Original Subject","body_html":"<div>Updated
        HTML</div>","body_text":"Original Text","created_at":"2025-06-23T06:54:57.066Z","updated_at":"2025-06-23T06:54:57.294Z"}'
  recorded_at: Mon, 23 Jun 2025 06:54:57 GMT
recorded_with: VCR 6.2.0
