---
http_interactions:
- request:
    method: get
    uri: https://mailtrap.io/api/accounts/1111111/stats/categories?end_date=2026-01-31&start_date=2026-01-01
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Bearer <BEARER_TOKEN>
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      X-Mailtrap-Version:
      - v2
      X-Ratelimit-Limit:
      - '150'
      X-Ratelimit-Remaining:
      - '149'
      Etag:
      - W/"ghi789"
    body:
      encoding: ASCII-8BIT
      string: '[{"category":"Transactional","stats":{"delivery_count":100,"delivery_rate":0.97,"bounce_count":3,"bounce_rate":0.03,"open_count":85,"open_rate":0.85,"click_count":45,"click_rate":0.53,"spam_count":0,"spam_rate":0.0}},{"category":"Marketing","stats":{"delivery_count":50,"delivery_rate":0.91,"bounce_count":5,"bounce_rate":0.09,"open_count":35,"open_rate":0.7,"click_count":15,"click_rate":0.43,"spam_count":2,"spam_rate":0.04}}]'
  recorded_at: Tue, 04 Mar 2026 10:00:03 GMT
recorded_with: VCR 6.4.0
