---
http_interactions:
- request:
    method: post
    uri: https://mailtrap.io/api/accounts/1111111/email_templates
    body:
      encoding: UTF-8
      string: '{"email_template":{"name":"Test Template","subject":"Test Subject","category":"Test
        Category","body_html":"<div>Test HTML</div>","body_text":"Test Text"}}'
    headers:
      Authorization:
      - Bearer <BEARER_TOKEN>
      Content-Type:
      - application/json
  response:
    status:
      code: 201
      message: Created
    headers:
      Content-Type:
      - application/json; charset=utf-8
      X-Mailtrap-Version:
      - v2
      X-Ratelimit-Limit:
      - '150'
      X-Ratelimit-Remaining:
      - '149'
      Etag:
      - W/"f205060fca3047ecf413b59c5b3665b5"
    body:
      encoding: UTF-8
      string: '{"id":40426,"uuid":"90ce2033-2dc0-4edd-94b6-d7a74d226543","name":"Test
        Template","category":"Test Category","subject":"Test Subject","body_html":"<div>Test
        HTML</div>","body_text":"Test Text","created_at":"2025-06-23T06:54:50.263Z","updated_at":"2025-06-23T06:54:50.263Z"}'
  recorded_at: Mon, 23 Jun 2025 06:54:50 GMT
- request:
    method: get
    uri: https://mailtrap.io/api/accounts/1111111/email_templates/999999
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Bearer <BEARER_TOKEN>
      Content-Type:
      - application/json
  response:
    status:
      code: 404
      message: Not Found
    headers:
      Content-Type:
      - application/json; charset=utf-8
      X-Mailtrap-Version:
      - v2
      X-Ratelimit-Limit:
      - '150'
      X-Ratelimit-Remaining:
      - '148'
    body:
      encoding: UTF-8
      string: '{"error":"Not Found"}'
  recorded_at: Mon, 23 Jun 2025 06:54:50 GMT
recorded_with: VCR 6.2.0
