---
http_interactions:
- request:
    method: get
    uri: https://mailtrap.io/api/email_campaigns/37947/stats
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Bearer <BEARER_TOKEN>
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      X-Mailtrap-Version:
      - v2
      X-Ratelimit-Limit:
      - '150'
      X-Ratelimit-Remaining:
      - '147'
      Etag:
      - W/"bb2c97e99162d56b943002163791d6b0"
    body:
      encoding: ASCII-8BIT
      string: '{"data":{"delivery_count":0,"delivery_rate":0,"bounce_count":0,"bounce_rate":0,"open_count":0,"open_rate":0,"click_count":0,"click_rate":0,"spam_count":0,"spam_rate":0,"unsubscription_count":0,"unsubscription_rate":0,"sent_count":0}}'
  recorded_at: Fri, 14 Aug 2026 05:34:08 GMT
recorded_with: VCR 6.4.0
