---
http_interactions:
- request:
    method: post
    uri: https://mailtrap.io/api/accounts/1111111/email_templates
    body:
      encoding: UTF-8
      string: '{"email_template":{"name":"New Template","subject":"New Subject","category":"New
        Category","body_html":"<div>New HTML</div>","body_text":"New Text"}}'
    headers:
      Authorization:
      - Bearer <BEARER_TOKEN>
      Content-Type:
      - application/json
  response:
    status:
      code: 201
      message: Created
    headers:
      Content-Type:
      - application/json; charset=utf-8
      X-Mailtrap-Version:
      - v2
      X-Ratelimit-Limit:
      - '150'
      X-Ratelimit-Remaining:
      - '146'
      Etag:
      - W/"8bb08000dfd7e49525aec6c4cc28b545"
      X-Cloud-Trace-Context:
      - 37c68312bf56489dc11a2dbbbade3eae;o=0
    body:
      encoding: UTF-8
      string: '{"id":40428,"uuid":"d77996d9-a046-496d-9873-a6c1141948c4","name":"New
        Template","category":"New Category","subject":"New Subject","body_html":"<div>New
        HTML</div>","body_text":"New Text","created_at":"2025-06-23T06:54:50.969Z","updated_at":"2025-06-23T06:54:50.969Z"}'
  recorded_at: Mon, 23 Jun 2025 06:54:51 GMT
recorded_with: VCR 6.2.0
