---
http_interactions:
- request:
    method: post
    uri: https://mailtrap.io/api/accounts/1111111/email_templates
    body:
      encoding: UTF-8
      string: '{"email_template":{"name":"New Template","subject":"New Subject","category":"New
        Category","body_html":"<div>New HTML</div>","body_text":"New Text"}}'
    headers:
      Authorization:
      - Bearer <BEARER_TOKEN>
      Content-Type:
      - application/json
  response:
    status:
      code: 201
      message: Created
    headers:
      Content-Type:
      - application/json; charset=utf-8
      X-Mailtrap-Version:
      - v2
      X-Ratelimit-Limit:
      - '150'
      X-Ratelimit-Remaining:
      - '147'
      Etag:
      - W/"95445ae9e9c5d1e9c946d658156327b6"
    body:
      encoding: UTF-8
      string: '{"id":40427,"uuid":"11163f06-68bb-4652-9967-d9258f994ad1","name":"New
        Template","category":"New Category","subject":"New Subject","body_html":"<div>New
        HTML</div>","body_text":"New Text","created_at":"2025-06-23T06:54:50.740Z","updated_at":"2025-06-23T06:54:50.740Z"}'
  recorded_at: Mon, 23 Jun 2025 06:54:50 GMT
recorded_with: VCR 6.2.0
