---
http_interactions:
- request:
    method: patch
    uri: https://mailtrap.io/api/accounts/1111111/webhooks/3080
    body:
      encoding: UTF-8
      string: '{"webhook":{"active":false,"event_types":["delivery","bounce","unsubscribe"]}}'
    headers:
      Authorization:
      - Bearer <BEARER_TOKEN>
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      X-Mailtrap-Version:
      - v2
      X-Ratelimit-Limit:
      - '150'
      X-Ratelimit-Remaining:
      - '149'
      Etag:
      - W/"e051559f5622f3f16fe3fb0861693ff5"
    body:
      encoding: ASCII-8BIT
      string: '{"data":{"id":3080,"url":"https://example.com/mailtrap/webhooks","active":false,"webhook_type":"email_sending","payload_format":"json","sending_stream":"transactional","domain_id":null,"event_types":["delivery","bounce","unsubscribe"]}}'
  recorded_at: Tue, 05 May 2026 06:30:57 GMT
recorded_with: VCR 6.4.0
