---
http_interactions:
- request:
    method: post
    uri: https://mailtrap.io/api/accounts/1111111/contacts/john.smith@example.com/events
    body:
      encoding: UTF-8
      string: '{"name":"UserLogin","params":{"user_id":101,"is_active":true}}'
    headers:
      Authorization:
      - Bearer <BEARER_TOKEN>
      Content-Type:
      - application/json
  response:
    status:
      code: 201
      message: Created
    headers:
      Content-Type:
      - application/json; charset=utf-8
      X-Mailtrap-Version:
      - v2
      X-Ratelimit-Limit:
      - '150'
      X-Ratelimit-Remaining:
      - '149'
      Etag:
      - W/"e77948f2f73f7c3e398437895b28c7aa"
    body:
      encoding: UTF-8
      string: '{"contact_id":"0199090c-b5ec-7be8-b18f-1a7c8a64f9fb","contact_email":"john.smith@example.com","name":"UserLogin","params":{"user_id":101,"is_active":true}}'
  recorded_at: Tue, 28 Apr 2026 13:02:25 GMT
recorded_with: VCR 6.4.0
