---
http_interactions:
- request:
    method: post
    uri: https://mailtrap.io/api/accounts/1111111/email_templates
    body:
      encoding: UTF-8
      string: '{"email_template":{"name":"Original Template","subject":"Original Subject","category":"Original
        Category","body_html":"<div>Original HTML</div>","body_text":"Original Text"}}'
    headers:
      Authorization:
      - Bearer <BEARER_TOKEN>
      Content-Type:
      - application/json
  response:
    status:
      code: 201
      message: Created
    headers:
      Content-Type:
      - application/json; charset=utf-8
      X-Mailtrap-Version:
      - v2
      X-Ratelimit-Limit:
      - '150'
      X-Ratelimit-Remaining:
      - '130'
      Etag:
      - W/"d21342f6bc113cecd808309cf29d840c"
    body:
      encoding: UTF-8
      string: '{"id":40437,"uuid":"2e40973f-dea2-45c8-b34a-a05aa4ce236a","name":"Original
        Template","category":"Original Category","subject":"Original Subject","body_html":"<div>Original
        HTML</div>","body_text":"Original Text","created_at":"2025-06-23T06:54:54.741Z","updated_at":"2025-06-23T06:54:54.741Z"}'
  recorded_at: Mon, 23 Jun 2025 06:54:54 GMT
- request:
    method: patch
    uri: https://mailtrap.io/api/accounts/1111111/email_templates/40437
    body:
      encoding: UTF-8
      string: '{"email_template":{"category":"New Category Only"}}'
    headers:
      Authorization:
      - Bearer <BEARER_TOKEN>
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      X-Mailtrap-Version:
      - v2
      X-Ratelimit-Limit:
      - '150'
      X-Ratelimit-Remaining:
      - '129'
      Etag:
      - W/"928a408915266a445f28face25ca010c"
    body:
      encoding: ASCII-8BIT
      string: '{"id":40437,"uuid":"2e40973f-dea2-45c8-b34a-a05aa4ce236a","name":"Original
        Template","category":"New Category Only","subject":"Original Subject","body_html":"<div>Original
        HTML</div>","body_text":"Original Text","created_at":"2025-06-23T06:54:54.741Z","updated_at":"2025-06-23T06:54:54.970Z"}'
  recorded_at: Mon, 23 Jun 2025 06:54:55 GMT
recorded_with: VCR 6.2.0
