---
http_interactions:
- request:
    method: post
    uri: https://mailtrap.io/api/accounts/1111111/email_templates
    body:
      encoding: UTF-8
      string: '{"email_template":{"name":"Original Template","subject":"Original Subject","category":"Original
        Category","body_html":"<div>Original HTML</div>","body_text":"Original Text"}}'
    headers:
      Authorization:
      - Bearer <BEARER_TOKEN>
      Content-Type:
      - application/json
  response:
    status:
      code: 201
      message: Created
    headers:
      Content-Type:
      - application/json; charset=utf-8
      X-Mailtrap-Version:
      - v2
      X-Ratelimit-Limit:
      - '150'
      X-Ratelimit-Remaining:
      - '134'
      Etag:
      - W/"c6d5de2bf9125762216aa00cb886c1d9"
    body:
      encoding: UTF-8
      string: '{"id":40435,"uuid":"099c9d5a-6243-4dec-bbb6-a59567ec197a","name":"Original
        Template","category":"Original Category","subject":"Original Subject","body_html":"<div>Original
        HTML</div>","body_text":"Original Text","created_at":"2025-06-23T06:54:53.807Z","updated_at":"2025-06-23T06:54:53.807Z"}'
  recorded_at: Mon, 23 Jun 2025 06:54:53 GMT
- request:
    method: patch
    uri: https://mailtrap.io/api/accounts/1111111/email_templates/40435
    body:
      encoding: UTF-8
      string: '{"email_template":{"category":"New Category Only"}}'
    headers:
      Authorization:
      - Bearer <BEARER_TOKEN>
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      X-Mailtrap-Version:
      - v2
      X-Ratelimit-Limit:
      - '150'
      X-Ratelimit-Remaining:
      - '133'
      Etag:
      - W/"1d4c36276f369bba1eccbe0594ae82ff"
    body:
      encoding: ASCII-8BIT
      string: '{"id":40435,"uuid":"099c9d5a-6243-4dec-bbb6-a59567ec197a","name":"Original
        Template","category":"New Category Only","subject":"Original Subject","body_html":"<div>Original
        HTML</div>","body_text":"Original Text","created_at":"2025-06-23T06:54:53.807Z","updated_at":"2025-06-23T06:54:54.033Z"}'
  recorded_at: Mon, 23 Jun 2025 06:54:54 GMT
recorded_with: VCR 6.2.0
