---
http_interactions:
- request:
    method: post
    uri: https://mailtrap.io/api/accounts/ACCOUNT_ID/projects
    body:
      encoding: UTF-8
      string: '{"project":{"name":"Original Project"}}'
    headers:
      Authorization:
      - Bearer <BEARER_TOKEN>
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      X-Mailtrap-Version:
      - v2
      X-Ratelimit-Limit:
      - '150'
      X-Ratelimit-Remaining:
      - '137'
      Etag:
      - W/"c758c7713959e6c65326928713f7b199"
      X-Cloud-Trace-Context:
      - aea66e7c3fc649ce8443d1b523e82fc0;o=0
    body:
      encoding: UTF-8
      string: '{"id":2568510,"name":"Original Project","share_links":{"admin":"https://mailtrap.io/projects/2568510/share/REDACTED","viewer":"https://mailtrap.io/projects/2568510/share/REDACTED"},"inboxes":[],"permissions":{"can_read":true,"can_update":true,"can_destroy":true,"can_leave":false}}'
  recorded_at: Thu, 06 Nov 2025 17:22:49 GMT
- request:
    method: patch
    uri: https://mailtrap.io/api/accounts/ACCOUNT_ID/projects/2568510
    body:
      encoding: UTF-8
      string: '{"project":{"name":"New Name Only"}}'
    headers:
      Authorization:
      - Bearer <BEARER_TOKEN>
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      X-Mailtrap-Version:
      - v2
      X-Ratelimit-Limit:
      - '150'
      X-Ratelimit-Remaining:
      - '136'
      Etag:
      - W/"a42e6ad9e60e03bffdb73163721bf8b5"
      X-Cloud-Trace-Context:
      - 2a29525372474282c7eb3a46ec615f45;o=0
    body:
      encoding: UTF-8
      string: '{"id":2568510,"name":"New Name Only","share_links":{"admin":"https://mailtrap.io/projects/2568510/share/REDACTED","viewer":"https://mailtrap.io/projects/2568510/share/REDACTED"},"inboxes":[],"permissions":{"can_read":true,"can_update":true,"can_destroy":true,"can_leave":false}}'
  recorded_at: Thu, 06 Nov 2025 17:22:50 GMT
recorded_with: VCR 6.2.0
