---
http_interactions:
- request:
    method: get
    uri: https://mailtrap.io/api/accounts/ACCOUNT_ID/suppressions
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Bearer <BEARER_TOKEN>
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      X-Mailtrap-Version:
      - v2
      X-Ratelimit-Limit:
      - '150'
      X-Ratelimit-Remaining:
      - '149'
      Etag:
      - W/"4c58eae82212185cd4da8a66aa102afb"
      X-Cloud-Trace-Context:
      - fa9c217fed8e49fb859124d20915c782;o=0
    body:
      encoding: UTF-8
      string: '[{"id":"2aa3d6ba-d87e-4235-ba67-80ab16b1156d","type":"hard bounce","created_at":"2025-03-24T13:17:20Z","email":"recipient1@email.com","sending_stream":"transactional","domain_name":"","message_bounce_category":"Bad
        recipient","message_category":"Mass Email","message_client_ip":"145.131.165.210","message_created_at":"2025-03-24T13:17:20Z","message_esp_response":"Requested
        action not taken: mailbox unavailable For explanation visit https://postmaster.mail.com/en/case?c=r1601&i=ip&v=45.158.83.2&r=1MduW0-1tPIP83O58-00hala","message_esp_server_type":"Other
        Providers","message_outgoing_ip":"45.158.83.2","message_recipient_mx_name":"mx01.mail.com","message_sender_email":"mailtrap@freelance.mailtrap.link","message_subject":"Email
        to Multiple Recipients"},{"id":"f5a69452-7a92-40ee-b3da-b51e0502f2b7","type":"hard
        bounce","created_at":"2025-03-24T13:17:20Z","email":"bcc1@email.com","sending_stream":"transactional","domain_name":"","message_bounce_category":"Bad
        recipient","message_category":"Mass Email","message_client_ip":"145.131.165.210","message_created_at":"2025-03-24T13:17:20Z","message_esp_response":"Requested
        action not taken: mailbox unavailable For explanation visit https://p[...]
