---
http_interactions:
- request:
    method: post
    uri: https://mailtrap.io/api/accounts/1111111/email_templates
    body:
      encoding: UTF-8
      string: '{"email_template":{"name":"Original Template","subject":"Original Subject","category":"Original
        Category","body_html":"<div>Original HTML</div>","body_text":"Original Text"}}'
    headers:
      Authorization:
      - Bearer <BEARER_TOKEN>
      Content-Type:
      - application/json
  response:
    status:
      code: 201
      message: Created
    headers:
      Content-Type:
      - application/json; charset=utf-8
      X-Mailtrap-Version:
      - v2
      X-Ratelimit-Limit:
      - '150'
      X-Ratelimit-Remaining:
      - '124'
      Etag:
      - W/"ec2afe8b201ff847c0b3f84b5534251a"
      X-Cloud-Trace-Context:
      - 2372bc9e859b416a80aa166a4049c099;o=0
    body:
      encoding: UTF-8
      string: '{"id":40440,"uuid":"791bbd4d-8995-4593-a9ed-e85fb245b61e","name":"Original
        Template","category":"Original Category","subject":"Original Subject","body_html":"<div>Original
        HTML</div>","body_text":"Original Text","created_at":"2025-06-23T06:54:56.152Z","updated_at":"2025-06-23T06:54:56.152Z"}'
  recorded_at: Mon, 23 Jun 2025 06:54:56 GMT
- request:
    method: patch
    uri: https://mailtrap.io/api/accounts/1111111/email_templates/40440
    body:
      encoding: UTF-8
      string: '{"email_template":{"body_html":"<div>New HTML Only</div>"}}'
    headers:
      Authorization:
      - Bearer <BEARER_TOKEN>
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      X-Mailtrap-Version:
      - v2
      X-Ratelimit-Limit:
      - '150'
      X-Ratelimit-Remaining:
      - '123'
      Etag:
      - W/"a1a6227556378f1a22895552b46aec56"
      X-Cloud-Trace-Context:
      - 9eeb41f6564f43b887190cefe9e8b513;o=0
    body:
      encoding: ASCII-8BIT
      string: '{"id":40440,"uuid":"791bbd4d-8995-4593-a9ed-e85fb245b61e","name":"Original
        Template","category":"Original Category","subject":"Original Subject","body_html":"<div>New
        HTML Only</div>","body_text":"Original Text","created_at":"2025-06-23T06:54:56.152Z","updated_at":"2025-06-23T06:54:56.376Z"}'
  recorded_at: Mon, 23 Jun 2025 06:54:56 GMT
recorded_with: VCR 6.2.0
