---
http_interactions:
- request:
    method: post
    uri: https://mailtrap.io/api/accounts/1111111/email_templates
    body:
      encoding: UTF-8
      string: '{"email_template":{"name":"Original Template","subject":"Original Subject","category":"Original
        Category","body_html":"<div>Original HTML</div>","body_text":"Original Text"}}'
    headers:
      Authorization:
      - Bearer <BEARER_TOKEN>
      Content-Type:
      - application/json
  response:
    status:
      code: 201
      message: Created
    headers:
      Content-Type:
      - application/json; charset=utf-8
      X-Mailtrap-Version:
      - v2
      X-Ratelimit-Limit:
      - '150'
      X-Ratelimit-Remaining:
      - '128'
      Etag:
      - W/"36117810664c43fd08c296ff2f056411"
    body:
      encoding: UTF-8
      string: '{"id":40438,"uuid":"994fb9a0-7169-4952-82c1-c7fce37b3bcc","name":"Original
        Template","category":"Original Category","subject":"Original Subject","body_html":"<div>Original
        HTML</div>","body_text":"Original Text","created_at":"2025-06-23T06:54:55.209Z","updated_at":"2025-06-23T06:54:55.209Z"}'
  recorded_at: Mon, 23 Jun 2025 06:54:55 GMT
- request:
    method: patch
    uri: https://mailtrap.io/api/accounts/1111111/email_templates/40438
    body:
      encoding: UTF-8
      string: '{"email_template":{"body_html":"<div>New HTML Only</div>"}}'
    headers:
      Authorization:
      - Bearer <BEARER_TOKEN>
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      X-Mailtrap-Version:
      - v2
      X-Ratelimit-Limit:
      - '150'
      X-Ratelimit-Remaining:
      - '127'
      Etag:
      - W/"b56c2572dcd3a00ba9993f19fa46af82"
    body:
      encoding: ASCII-8BIT
      string: '{"id":40438,"uuid":"994fb9a0-7169-4952-82c1-c7fce37b3bcc","name":"Original
        Template","category":"Original Category","subject":"Original Subject","body_html":"<div>New
        HTML Only</div>","body_text":"Original Text","created_at":"2025-06-23T06:54:55.209Z","updated_at":"2025-06-23T06:54:55.431Z"}'
  recorded_at: Mon, 23 Jun 2025 06:54:55 GMT
recorded_with: VCR 6.2.0
