---
http_interactions:
- request:
    method: post
    uri: https://mailtrap.io/api/accounts/1111111/email_templates
    body:
      encoding: UTF-8
      string: '{"email_template":{"name":"Original Template","subject":"Original Subject","category":"Original
        Category","body_html":"<div>Original HTML</div>","body_text":"Original Text"}}'
    headers:
      Authorization:
      - Bearer <BEARER_TOKEN>
      Content-Type:
      - application/json
  response:
    status:
      code: 201
      message: Created
    headers:
      Content-Type:
      - application/json; charset=utf-8
      X-Mailtrap-Version:
      - v2
      X-Ratelimit-Limit:
      - '150'
      X-Ratelimit-Remaining:
      - '126'
      Etag:
      - W/"89273c05d49fa6440a335ee9dc0788c2"
      X-Cloud-Trace-Context:
      - d45855dbcd2a460b83eedfbdac950b15;o=0
    body:
      encoding: UTF-8
      string: '{"id":40439,"uuid":"fe528b04-374e-4300-bc2d-7d34f1e798ad","name":"Original
        Template","category":"Original Category","subject":"Original Subject","body_html":"<div>Original
        HTML</div>","body_text":"Original Text","created_at":"2025-06-23T06:54:55.679Z","updated_at":"2025-06-23T06:54:55.679Z"}'
  recorded_at: Mon, 23 Jun 2025 06:54:55 GMT
- request:
    method: patch
    uri: https://mailtrap.io/api/accounts/1111111/email_templates/40439
    body:
      encoding: UTF-8
      string: '{"email_template":{"body_html":"<div>New HTML Only</div>"}}'
    headers:
      Authorization:
      - Bearer <BEARER_TOKEN>
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      X-Mailtrap-Version:
      - v2
      X-Ratelimit-Limit:
      - '150'
      X-Ratelimit-Remaining:
      - '125'
      Etag:
      - W/"47c9eb7f53c4a6f735afe12133519a7c"
      X-Cloud-Trace-Context:
      - 79e3f0e6a8b642e2809c4715a4612d2b;o=3
    body:
      encoding: ASCII-8BIT
      string: '{"id":40439,"uuid":"fe528b04-374e-4300-bc2d-7d34f1e798ad","name":"Original
        Template","category":"Original Category","subject":"Original Subject","body_html":"<div>New
        HTML Only</div>","body_text":"Original Text","created_at":"2025-06-23T06:54:55.679Z","updated_at":"2025-06-23T06:54:55.904Z"}'
  recorded_at: Mon, 23 Jun 2025 06:54:56 GMT
recorded_with: VCR 6.2.0
