---
http_interactions:
- request:
    method: post
    uri: https://mailtrap.io/api/accounts/1111111/sending_domains/122392/company_info
    body:
      encoding: UTF-8
      string: '{"company_info":{"name":"Mailtrap","address":"123 Main St","city":"San
        Francisco","country":"US","zip_code":"94105"}}'
    headers:
      Authorization:
      - Bearer <BEARER_TOKEN>
      Content-Type:
      - application/json
  response:
    status:
      code: 422
      message: Unprocessable Entity
    headers:
      Content-Type:
      - application/json; charset=utf-8
      X-Mailtrap-Version:
      - v2
      X-Ratelimit-Limit:
      - '150'
      X-Ratelimit-Remaining:
      - '149'
    body:
      encoding: UTF-8
      string: '{"errors":{"website_url":["can''t be blank","is invalid"]}}'
  recorded_at: Tue, 28 Apr 2026 10:30:32 GMT
recorded_with: VCR 6.4.0
