---
http_interactions:
- request:
    method: post
    uri: https://mailtrap.io/api/accounts/1111111/projects
    body:
      encoding: UTF-8
      string: '{"project":{"name":""}}'
    headers:
      Authorization:
        - Bearer <BEARER_TOKEN>
      Content-Type:
        - application/json
  response:
    status:
      code: 422
      message: Unprocessable Entity
    headers:
      Content-Type:
        - application/json; charset=utf-8
      X-Mailtrap-Version:
        - v2
      X-Ratelimit-Limit:
        - '150'
      X-Ratelimit-Remaining:
        - '142'
      X-Cloud-Trace-Context:
        - 202ae565c50b43798fc2ab188e7ad5ac;o=0
    body:
      encoding: UTF-8
      string: '{"errors":{"name":["can''t be blank","is too short (minimum is 2 characters)"]}}'
  recorded_at: Thu, 06 Nov 2025 17:22:48 GMT
recorded_with: VCR 6.2.0
