---
http_interactions:
- request:
    method: get
    uri: https://mailtrap.io/api/accounts/1111111/sending_domains/122392/company_info
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Bearer <BEARER_TOKEN>
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      X-Mailtrap-Version:
      - v2
      X-Ratelimit-Limit:
      - '150'
      X-Ratelimit-Remaining:
      - '149'
      Etag:
      - W/"e9bc14ead042a4f69bcca68fcd7740a4"
    body:
      encoding: ASCII-8BIT
      string: '{"data":{"name":"Mailtrap","address":"123 Main St","city":"San Francisco","country":"US","phone":null,"zip_code":"94105","privacy_policy_url":null,"terms_of_service_url":null,"website_url":"https://mailtrap.io","info_level":"business"}}'
  recorded_at: Tue, 28 Apr 2026 11:01:44 GMT
recorded_with: VCR 6.4.0
