---
http_interactions:
- request:
    method: post
    uri: https://mailtrap.io/api/accounts/1111111/projects
    body:
      encoding: UTF-8
      string: '{"project":{"name":"Original Project"}}'
    headers:
      Authorization:
        - Bearer <BEARER_TOKEN>
      Content-Type:
        - application/json
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
        - application/json; charset=utf-8
      X-Mailtrap-Version:
        - v2
      X-Ratelimit-Limit:
        - '150'
      X-Ratelimit-Remaining:
        - '139'
      Etag:
        - W/"76642706d6a6767af3d369475a2c93bf"
    body:
      encoding: UTF-8
      string: '{"id":2568509,"name":"Original Project","share_links":{"admin":"https://mailtrap.io/projects/2568509/share/REDACTED","viewer":"https://mailtrap.io/projects/2568509/share/REDACTED"},"inboxes":[],"permissions":{"can_read":true,"can_update":true,"can_destroy":true,"can_leave":false}}'
  recorded_at: Thu, 06 Nov 2025 17:22:49 GMT
- request:
    method: patch
    uri: https://mailtrap.io/api/accounts/1111111/projects/2568509
    body:
      encoding: UTF-8
      string: '{"project":{"name":"Updated Project"}}'
    headers:
      Authorization:
        - Bearer <BEARER_TOKEN>
      Content-Type:
        - application/json
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
        - application/json; charset=utf-8
      X-Mailtrap-Version:
        - v2
      X-Ratelimit-Limit:
        - '150'
      X-Ratelimit-Remaining:
        - '138'
      Etag:
        - W/"c23f6ba7654468fa9adf039f42cec65c"
    body:
      encoding: UTF-8
      string: '{"id":2568509,"name":"Updated Project","share_links":{"admin":"https://mailtrap.io/projects/2568509/share/REDACTED","viewer":"https://mailtrap.io/projects/2568509/share/REDACTED"},"inboxes":[],"permissions":{"can_read":true,"can_update":true,"can_destroy":true,"can_leave":false}}'
  recorded_at: Thu, 06 Nov 2025 17:22:49 GMT
recorded_with: VCR 6.2.0
