---
http_interactions:
- request:
    method: get
    uri: https://mailtrap.io/api/tracking_opt_outs
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Bearer <BEARER_TOKEN>
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      X-Mailtrap-Version:
      - v2
      X-Ratelimit-Limit:
      - '150'
      X-Ratelimit-Remaining:
      - '149'
      Etag:
      - W/"8a059d7eaa983ff49c1b91f37ec7a5b1"
    body:
      encoding: ASCII-8BIT
      string: '{"data":[{"id":"4c3c5ece-436e-4596-af69-647f99059380","email":"welcome@rw.com","created_at":"2026-08-26T14:39:13.000Z","domain_name":"example.com"}],"last_id":null}'
  recorded_at: Wed, 26 Aug 2026 14:51:14 GMT
recorded_with: VCR 6.4.0
