---
http_interactions:
- request:
    method: post
    uri: https://mailtrap.io/api/accounts/1111111/projects
    body:
      encoding: UTF-8
      string: '{"project":{"name":"Original Project"}}'
    headers:
      Authorization:
        - Bearer <BEARER_TOKEN>
      Content-Type:
        - application/json
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
        - application/json; charset=utf-8
      X-Mailtrap-Version:
        - v2
      X-Ratelimit-Limit:
        - '150'
      X-Ratelimit-Remaining:
        - '149'
      Etag:
        - W/"25e67f433975ab649f5b5a50fb4d2a91"
    body:
      encoding: UTF-8
      string: '{"id":2568511,"name":"Original Project","share_links":{"admin":"https://mailtrap.io/projects/2568511/share/REDACTED","viewer":"https://mailtrap.io/projects/2568511/share/REDACTED"},"inboxes":[],"permissions":{"can_read":true,"can_update":true,"can_destroy":true,"can_leave":false}}'
  recorded_at: Thu, 06 Nov 2025 17:22:50 GMT
- request:
    method: patch
    uri: https://mailtrap.io/api/accounts/1111111/projects/999999
    body:
      encoding: UTF-8
      string: '{"project":{"name":"Updated Project"}}'
    headers:
      Authorization:
        - Bearer <BEARER_TOKEN>
      Content-Type:
        - application/json
  response:
    status:
      code: 404
      message: Not Found
    headers:
      Content-Type:
        - application/json; charset=utf-8
      X-Mailtrap-Version:
        - v2
      X-Ratelimit-Limit:
        - '150'
      X-Ratelimit-Remaining:
        - '148'
    body:
      encoding: UTF-8
      string: '{"error":"Not Found"}'
  recorded_at: Thu, 06 Nov 2025 17:22:50 GMT
recorded_with: VCR 6.2.0
