---
http_interactions:
- request:
    method: post
    uri: https://mailtrap.io/api/accounts/1111111/inboxes/4288340/messages/5273448410/forward
    body:
      encoding: UTF-8
      string: '{"email":"example@railsware.com"}'
    headers:
      Authorization:
      - Bearer <BEARER_TOKEN>
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      X-Mailtrap-Version:
      - v2
      X-Ratelimit-Limit:
      - '150'
      X-Ratelimit-Remaining:
      - '149'
      X-Cloud-Trace-Context:
      - aa184d8185a94b398bef5b820fac2484;o=0
    body:
      encoding: UTF-8
      string: '{"success":true,"message":"Your email message has been successfully forwarded"}'
  recorded_at: Tue, 30 Dec 2025 23:20:59 GMT
recorded_with: VCR 6.2.0
