---
http_interactions:
- request:
    method: get
    uri: https://mailtrap.io/api/inbound/inboxes/513/messages?last_id=1700000000000000
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Bearer <BEARER_TOKEN>
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      X-Mailtrap-Version:
      - v2
      X-Ratelimit-Limit:
      - '150'
      X-Ratelimit-Remaining:
      - '148'
      Etag:
      - W/"298b2cdb802ff5b7c1d64b61a50a9c91"
    body:
      encoding: UTF-8
      string: '{"data":[],"total_count":0,"last_id":null}'
  recorded_at: Fri, 24 Jul 2026 06:00:19 GMT
recorded_with: VCR 6.4.0
