---
http_interactions:
- request:
    method: post
    uri: https://mailtrap.io/api/accounts/1111111/projects
    body:
      encoding: UTF-8
      string: '{"project":{"name":"Original Project"}}'
    headers:
      Authorization:
        - Bearer <BEARER_TOKEN>
      Content-Type:
        - application/json
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
        - application/json; charset=utf-8
      X-Mailtrap-Version:
        - v2
      X-Ratelimit-Limit:
        - '150'
      X-Ratelimit-Remaining:
        - '141'
      Etag:
        - W/"d566fd0a5d4ea9273bf4996b1cd09b27"
    body:
      encoding: UTF-8
      string: '{"id":2568508,"name":"Original Project","share_links":{"admin":"https://mailtrap.io/projects/2568508/share/REDACTED","viewer":"https://mailtrap.io/projects/2568508/share/REDACTED"},"inboxes":[],"permissions":{"can_read":true,"can_update":true,"can_destroy":true,"can_leave":false}}'
  recorded_at: Thu, 06 Nov 2025 17:22:48 GMT
- request:
    method: patch
    uri: https://mailtrap.io/api/accounts/1111111/projects/2568508
    body:
      encoding: UTF-8
      string: '{"project":{"name":"Updated Project"}}'
    headers:
      Authorization:
        - Bearer <BEARER_TOKEN>
      Content-Type:
        - application/json
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
        - application/json; charset=utf-8
      X-Mailtrap-Version:
        - v2
      X-Ratelimit-Limit:
        - '150'
      X-Ratelimit-Remaining:
        - '140'
      Etag:
        - W/"e5d96aea05b630c9b62174918e0948ba"
    body:
      encoding: UTF-8
      string: '{"id":2568508,"name":"Updated Project","share_links":{"admin":"https://mailtrap.io/projects/2568508/share/REDACTED","viewer":"https://mailtrap.io/projects/2568508/share/REDACTED"},"inboxes":[],"permissions":{"can_read":true,"can_update":true,"can_destroy":true,"can_leave":false}}'
  recorded_at: Thu, 06 Nov 2025 17:22:48 GMT
recorded_with: VCR 6.2.0
