---
http_interactions:
- request:
    method: patch
    uri: https://mailtrap.io/api/inbound/inboxes/3924/forward_rules/2
    body:
      encoding: UTF-8
      string: '{"destinations":[{"email":"finance@example.com"},{"email":"accounting@example.com"}]}'
    headers:
      Authorization:
      - Bearer <BEARER_TOKEN>
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      X-Mailtrap-Version:
      - v2
      X-Ratelimit-Limit:
      - '150'
      X-Ratelimit-Remaining:
      - '146'
      Etag:
      - W/"df0dddb11faee86ab8b95822dc90b2c4"
    body:
      encoding: ASCII-8BIT
      string: '{"data":{"id":2,"name":"Copy billing mail to finance","created_at":"2026-10-05T14:14:03.975Z","updated_at":"2026-10-05T14:15:34.081Z","conditions":[{"match_type":"sender","operator":"ends_with","value":"@billing.example.com","header_key":null}],"destinations":[{"email":
        "welcome@rw.com"},{"email": "welcome@rw.com"}]}}'
  recorded_at: Mon, 05 Oct 2026 14:15:34 GMT
recorded_with: VCR 6.4.0
