---
http_interactions:
- request:
    method: get
    uri: https://mailtrap.io/api/accounts
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Bearer <BEARER_TOKEN>
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      X-Mailtrap-Version:
      - v2
      X-Ratelimit-Limit:
      - '150'
      X-Ratelimit-Remaining:
      - '149'
      Etag:
      - W/"42e73e96e1ed3c973620c8c09d2f244c"
      X-Cloud-Trace-Context:
      - 26c79d159ce04474883f150f101a74b1;o=0
    body:
      encoding: ASCII-8BIT
      string: '[{"id":2326475,"name":"Yahor Vaitsiakhouski","access_levels":[100]}]'
  recorded_at: Mon, 05 Jan 2026 12:24:36 GMT
recorded_with: VCR 6.2.0
