---
http_interactions:
- request:
    method: post
    uri: https://mailtrap.io/api/accounts/1111111/api_tokens
    body:
      encoding: UTF-8
      string: '{"name":"Ruby SDK Test Token","expires_at":"2027-06-01T00:00:00Z","resources":[{"resource_type":"account","resource_id":1111111,"access_level":100}]}'
    headers:
      Authorization:
      - Bearer <BEARER_TOKEN>
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      X-Mailtrap-Version:
      - v2
      X-Ratelimit-Limit:
      - '150'
      X-Ratelimit-Remaining:
      - '149'
      Etag:
      - W/"1f0d2c3b4a5968778695a4b3c2d1e0f9"
    body:
      encoding: ASCII-8BIT
      string: '{"resources":[{"resource_type":"account","resource_id":1719941,"access_level":100}],"id":2498720,"name":"Ruby
        SDK Test Token","last_4_digits":"9d10","created_by":"SDK Dev Account Token","expires_at":"2027-06-01T00:00:00Z","token":"7f2f0a9b8f1e4bfa9d3c5e6a7b8c9d10"}'
  recorded_at: Mon, 03 Aug 2026 10:00:00 GMT
recorded_with: VCR 6.4.0
