---
http_interactions:
- request:
    method: post
    uri: https://mailtrap.io/api/accounts/1111111/api_tokens
    body:
      encoding: UTF-8
      string: '{"resources":[]}'
    headers:
      Authorization:
      - Bearer <BEARER_TOKEN>
      Content-Type:
      - application/json
  response:
    status:
      code: 422
      message: Unprocessable Entity
    headers:
      Content-Type:
      - application/json; charset=utf-8
      X-Mailtrap-Version:
      - v2
      X-Ratelimit-Limit:
      - '150'
      X-Ratelimit-Remaining:
      - '148'
    body:
      encoding: UTF-8
      string: '{"errors":{"base":["No permissions selected. Please choose at least
        one."]}}'
  recorded_at: Wed, 29 Apr 2026 14:21:57 GMT
recorded_with: VCR 6.4.0
