---
http_interactions:
- request:
    method: get
    uri: https://mailtrap.io/api/accounts/1111111/stats?end_date=2026-01-31&start_date=2026-01-01
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Bearer <BEARER_TOKEN>
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      X-Mailtrap-Version:
      - v2
      X-Ratelimit-Limit:
      - '150'
      X-Ratelimit-Remaining:
      - '149'
      Etag:
      - W/"abc123"
    body:
      encoding: ASCII-8BIT
      string: '{"delivery_count":150,"delivery_rate":0.95,"bounce_count":8,"bounce_rate":0.05,"open_count":120,"open_rate":0.8,"click_count":60,"click_rate":0.5,"spam_count":2,"spam_rate":0.013}'
  recorded_at: Tue, 04 Mar 2026 10:00:00 GMT
recorded_with: VCR 6.4.0
