---
http_interactions:
- request:
    method: get
    uri: https://mailtrap.io/api/accounts/1111111/inboxes/4288340/messages/5273448410/mail_headers
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Bearer <BEARER_TOKEN>
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      X-Mailtrap-Version:
      - v2
      X-Ratelimit-Limit:
      - '150'
      X-Ratelimit-Remaining:
      - '149'
      Etag:
      - W/"59bc68b8c69b8c87e66f53b460c2ee8d"
      X-Cloud-Trace-Context:
      - eb5d47ac1bbf4feac5b877514362948f;o=0
    body:
      encoding: ASCII-8BIT
      string: '{"headers":{"date":"Tue, 30 Dec 2025 16:55:50 +0000","from":"reply@demomailtrap.co","to":"yahor.vaitsiakhouski@railsware.com","subject":"Hello
        from Mailtrap","mime_version":"1.0","content_type":"multipart/alternative;
        boundary=123","bcc":"not
        available for your plan"}}'
  recorded_at: Tue, 30 Dec 2025 23:49:09 GMT
recorded_with: VCR 6.2.0
