---
http_interactions:
- request:
    method: get
    uri: https://mailtrap.io/api/accounts/1111111/inboxes/4288340/messages/5273448410/analyze
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Bearer <BEARER_TOKEN>
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      X-Mailtrap-Version:
      - v2
      X-Ratelimit-Limit:
      - '150'
      X-Ratelimit-Remaining:
      - '149'
      Etag:
      - W/"f5e927d227ad3441e41ef98dcef5fc5a"
      X-Cloud-Trace-Context:
      - 2d086d94d1424798ce140fd029d378f3;o=0
    body:
      encoding: ASCII-8BIT
      string: '{"report":{"status":"success","errors":[]}}'
  recorded_at: Tue, 30 Dec 2025 23:31:29 GMT
recorded_with: VCR 6.2.0
