---
http_interactions:
- request:
    method: get
    uri: https://mailtrap.io/api/accounts/1111111/api_tokens
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Bearer <BEARER_TOKEN>
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      X-Mailtrap-Version:
      - v2
      X-Ratelimit-Limit:
      - '150'
      X-Ratelimit-Remaining:
      - '149'
      Etag:
      - W/"7e2dfc9492802e3dbd170f4b6324efb3"
    body:
      encoding: ASCII-8BIT
      string: '[{"resources":[{"resource_type":"account","resource_id":1719941,"access_level":100}],"id":2496915,"name":"Ruby SDK Dev","last_4_digits":"9daa","created_by":"John Doe","expires_at":null}]'
  recorded_at: Tue, 28 Apr 2026 14:05:37 GMT
recorded_with: VCR 6.4.0
