---
http_interactions:
- request:
    method: get
    uri: https://mailtrap.io/api/accounts/1111111/inboxes/4288340/messages/5273448410/spam_report
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Bearer <BEARER_TOKEN>
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      X-Mailtrap-Version:
      - v2
      X-Ratelimit-Limit:
      - '150'
      X-Ratelimit-Remaining:
      - '149'
      Etag:
      - W/"2692ba0984dfdc915b8948db13a9624c"
      X-Cloud-Trace-Context:
      - 47a9ec3877674d6086538b033851d6fc;o=0
    body:
      encoding: ASCII-8BIT
      string: '{"report":{"ResponseCode":0,"ResponseMessage":"EX_OK","ResponseVersion":"1.1","Score":0.1,"Spam":false,"Threshold":5.0,"Details":[{"Pts":"0.1","RuleName":"MISSING_MID","Description":"Missing
        Message-Id: header"},{"Pts":"0.0","RuleName":"HTML_MESSAGE","Description":"BODY:
        HTML included in message"}]}}'
  recorded_at: Tue, 30 Dec 2025 23:28:27 GMT
recorded_with: VCR 6.2.0
