---
http_interactions:
- request:
    method: post
    uri: https://mailtrap.io/api/accounts/1111111/api_tokens/2498713/reset
    body:
      encoding: UTF-8
      string: ''
    headers:
      Authorization:
      - Bearer <BEARER_TOKEN>
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      X-Mailtrap-Version:
      - v2
      X-Ratelimit-Limit:
      - '150'
      X-Ratelimit-Remaining:
      - '149'
      Etag:
      - W/"8c6c55f98ae457d13e54547c3b370ba0"
    body:
      encoding: ASCII-8BIT
      string: '{"resources":[{"resource_type":"account","resource_id":1719941,"access_level":100}],"id":2498715,"name":"Ruby
        SDK Test Token 2498715","last_4_digits":"856f","created_by":"SDK Dev Account
        Token","expires_at":null,"token":"ff828c557cb54180a0ce279fd6d5856f"}'
  recorded_at: Wed, 29 Apr 2026 14:25:08 GMT
recorded_with: VCR 6.4.0
