---
http_interactions:
- request:
    method: patch
    uri: https://mailtrap.io/api/accounts/1111111/inboxes/4288340/messages/999999
    body:
      encoding: UTF-8
      string: '{"message":{"is_read":true}}'
    headers:
      Authorization:
      - Bearer <BEARER_TOKEN>
      Content-Type:
      - application/json
  response:
    status:
      code: 404
      message: Not Found
    headers:
      Content-Type:
      - application/json; charset=utf-8
      X-Mailtrap-Version:
      - v2
      X-Ratelimit-Limit:
      - '150'
      X-Ratelimit-Remaining:
      - '148'
      X-Cloud-Trace-Context:
      - 1e16d177ca1b43c284d879f367c32997;o=0
    body:
      encoding: ASCII-8BIT
      string: '{"error":"Not Found"}'
  recorded_at: Tue, 30 Dec 2025 23:10:51 GMT
recorded_with: VCR 6.2.0
