---
http_interactions:
- request:
    method: get
    uri: https://mailtrap.io/api/accounts/1111111/inboxes/4288340/messages
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Bearer <BEARER_TOKEN>
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      X-Mailtrap-Version:
      - v2
      X-Ratelimit-Limit:
      - '150'
      X-Ratelimit-Remaining:
      - '149'
      Etag:
      - W/"aaaaaaaaaaaaaaaaaaaaaaaaaaaaaa01"
    body:
      encoding: ASCII-8BIT
      string: '[{"id":5186534330,"inbox_id":4288340,"subject":"You are awesome!","sent_at":"2025-11-11T12:28:57.073Z","from_email":"from@example.com","from_name":"Magic
        Elves","to_email":"to@example.com","to_name":"Mailtrap Sandbox","email_size":1704,"is_read":true,"created_at":"2025-11-11T12:28:57.074Z","updated_at":"2025-11-11T12:29:02.573Z","template_id":null,"template_variables":null,"html_body_size":938,"text_body_size":222,"human_size":"1.7
        KB","html_path":"/api/testing_message_parts/dummy_token_001/body.html","txt_path":"/api/testing_message_parts/dummy_token_001/body.txt","raw_path":"/api/testing_message_parts/dummy_token_001/body.raw","download_path":"/api/testing_message_parts/dummy_token_001/body.eml","html_source_path":"/api/testing_message_parts/dummy_token_001/body.htmlsource","blacklists_report_info":{"result":"success","domain":"example.com","ip":"198.51.100.1","report":[{"name":"BACKSCATTERER","url":"http://www.backscatterer.org/index.php","in_black_list":false},{"name":"BARRACUDA","url":"http://barracudacentral.org/rbl","in_black_list":false},{"name":"Spamrbl
        IMP-SPAM","url":"http://antispam.imp.ch/?lng=1","in_black_list":false},{"name":"Wormrbl
        IMP-SPAM","url":"http://antispam.imp.ch/?lng=1","in_black_list":false},{"name":"LASHBACK","url":"http://blacklist.lashback.com/","in_black_list":false},{"name":"NIXSPAM","url":"https://www.heise.de/ix/NiX-Spam-DNSBL-and-blacklist-for-download-499637.html","in_black_list":false},{"name":"PSBL","url":"https://psbl.org/","in_black_list":false},{"name":"SORBS-SPAM","url":"http://www.sorbs.net/lookup.shtml","in_black_list":false},{"name":"SPAMCOP","url":"http://spamcop.net/bl.shtml","in_black_list":false},{"name":"TRUNCATE","url":"http://www.gbudb.com/truncate/index.jsp","in_black_list":false}]},"smtp_information":{"ok":false}},{"id":5186530485,"inbox_id":4288340,"subject":"You
        are awesome!","sent_at":"2025-11-11T12:25:30.400Z","from_email":"from@example.com","from_name":"Magic
        Elves","to_email":"to@example.com","to_name":"Mailtrap Sandbox","email_size":1646,"is_read":true,"created_at":"2025-11-11T12:25:30.400Z","updated_at":"2025-11-11T12:26:42.765Z","template_id":null,"template_variables":null,"html_body_size":938,"text_body_size":222,"human_size":"1.6
        KB","html_path":"/api/testing_mes[...]
- request:
    method: get
    uri: https://mailtrap.io/api/accounts/1111111/inboxes/4288340/messages?last_id=5012720802
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Bearer <BEARER_TOKEN>
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      X-Mailtrap-Version:
      - v2
      X-Ratelimit-Limit:
      - '150'
      X-Ratelimit-Remaining:
      - '148'
      Etag:
      - W/"aaaaaaaaaaaaaaaaaaaaaaaaaaaaaa02"
    body:
      encoding: ASCII-8BIT
      string: '[{"id":5012720801,"inbox_id":4288340,"subject":"Batch sending test","sent_at":"2025-07-29T10:33:51.455Z","from_email":"sender@example.com","from_name":"Mailtrap
        Test","to_email":"user9@example.com","to_name":"User Nine","email_size":11539,"is_read":true,"created_at":"2025-07-29T10:33:51.459Z","updated_at":"2025-07-29T10:34:06.841Z","template_id":43496,"template_variables":{"user_name":"Jane
        Doe"},"html_body_size":10412,"text_body_size":0,"human_size":"11 KB","html_path":"/api/testing_message_parts/dummy_token_031/body.html","txt_path":"/api/testing_message_parts/dummy_token_031/body.txt","raw_path":"/api/testing_message_parts/dummy_token_031/body.raw","download_path":"/api/testing_message_parts/dummy_token_031/body.eml","html_source_path":"/api/testing_message_parts/dummy_token_031/body.htmlsource","blacklists_report_info":{"result":"success","domain":"example.com","i[...]
- request:
    method: get
    uri: https://mailtrap.io/api/accounts/1111111/inboxes/4288340/messages?last_id=3499169101
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Bearer <BEARER_TOKEN>
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      X-Mailtrap-Version:
      - v2
      X-Ratelimit-Limit:
      - '150'
      X-Ratelimit-Remaining:
      - '147'
      Etag:
      - W/"aaaaaaaaaaaaaaaaaaaaaaaaaaaaaa03"
    body:
      encoding: UTF-8
      string: "[]"
  recorded_at: Tue, 17 Mar 2026 16:01:39 GMT
recorded_with: VCR 6.4.0
