---
http_interactions:
- request:
    method: get
    uri: https://mailtrap.io/api/accounts/1111111/email_logs/a1b2c3d4-e5f6-7890-abcd-ef1234567890
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Bearer <BEARER_TOKEN>
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      X-Mailtrap-Version:
      - v2
      X-Ratelimit-Limit:
      - '150'
      X-Ratelimit-Remaining:
      - '149'
      Etag:
      - W/"ab4786cd4b173b9f94a57ac540c3dc64"
    body:
      encoding: ASCII-8BIT
      string: '{"message_id":"a1b2c3d4-e5f6-7890-abcd-ef1234567890","status":"delivered","subject":"Test
        Subject","from":"sender@example.com","to":"recipient@example.com","sent_at":"2025-01-15T10:30:00Z","client_ip":"192.0.2.1","category":"Test
        Category","custom_variables":null,"sending_stream":"transactional","sending_domain_id":3938,"template_id":null,"template_variables":null,"raw_message_url":"https://example.com/raw/test-message.eml","events":[{"event_type":"delivery","created_at":"2025-01-15T10:30:01Z","details":{"sending_ip":"192.0.2.2","recipient_mx":"mx.example.com","email_service_provider":"Example
        Provider"}}],"opens_count":0,"clicks_count":0}'
  recorded_at: Fri, 13 Mar 2026 13:44:38 GMT
recorded_with: VCR 6.4.0
