---
http_interactions:
- request:
    method: get
    uri: https://mailtrap.io/api/inbound/inboxes/513/threads
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Bearer <BEARER_TOKEN>
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      X-Mailtrap-Version:
      - v2
      X-Ratelimit-Limit:
      - '150'
      X-Ratelimit-Remaining:
      - '149'
      Etag:
      - W/"56ee4b8d5ffec4d9010514ca73a839e9"
    body:
      encoding: ASCII-8BIT
      string: '{"data":[{"id":"1871574677878845504","subject":"Inbound test 2026-07-24T05:58:20Z","message_count":2,"size":936,"first_message_at":"2026-07-24T05:58:21.528Z","last_received_at":"2026-07-24T05:58:21.528Z","last_sent_at":"2026-07-24T06:01:47.114Z","last_activity_at":"2026-07-24T06:01:47.114Z","last_message_id":"1871574893450792960","senders":["tickets-1a2b3c4d@inbound-mailtrap.io"],"recipients":["Inbound
        Tester <sender@example.com>"],"attachments":[]}],"total_count":1,"last_id":null}'
  recorded_at: Fri, 24 Jul 2026 06:03:11 GMT
recorded_with: VCR 6.4.0
