---
http_interactions:
- request:
    method: post
    uri: https://mailtrap.io/api/inbound/folders/77/inboxes
    body:
      encoding: UTF-8
      string: '{"name":"Tickets"}'
    headers:
      Authorization:
      - Bearer <BEARER_TOKEN>
      Content-Type:
      - application/json
  response:
    status:
      code: 201
      message: Created
    headers:
      Content-Type:
      - application/json; charset=utf-8
      X-Mailtrap-Version:
      - v2
      X-Ratelimit-Limit:
      - '150'
      X-Ratelimit-Remaining:
      - '149'
      Etag:
      - W/"a7531a9e954af07dd41a138ae21ef328"
    body:
      encoding: UTF-8
      string: '{"id":513,"name":"Tickets","address":"tickets-1a2b3c4d@inbound-mailtrap.io","domain_id":1237003}'
  recorded_at: Fri, 24 Jul 2026 05:25:22 GMT
recorded_with: VCR 6.4.0
