---
http_interactions:
- request:
    method: get
    uri: https://mailtrap.io/api/inbound/inboxes/3924/forward_rules
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Bearer <BEARER_TOKEN>
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      X-Mailtrap-Version:
      - v2
      X-Ratelimit-Limit:
      - '150'
      X-Ratelimit-Remaining:
      - '149'
      Etag:
      - W/"c6c27cba6f0e4bce60887df70a173add"
    body:
      encoding: ASCII-8BIT
      string: '{"data":[{"id":1,"name":"SDK VCR copy everything","created_at":"2026-10-02T14:56:33.933Z","updated_at":"2026-10-02T14:56:33.933Z","conditions":[],"destinations":[{"email":
        "welcome@rw.com"}]},{"id":2,"name":"Copy billing mail to finance","created_at":"2026-10-05T14:14:03.975Z","updated_at":"2026-10-05T14:14:03.975Z","conditions":[{"match_type":"sender","operator":"ends_with","value":"@billing.example.com","header_key":null}],"destinations":[{"email":
        "welcome@rw.com"}]}]}'
  recorded_at: Mon, 05 Oct 2026 14:15:33 GMT
recorded_with: VCR 6.4.0
