---
http_interactions:
- request:
    method: post
    uri: https://mailtrap.io/api/inbound/inboxes/3924/forward_rules
    body:
      encoding: UTF-8
      string: '{"name":"Copy billing mail to finance","conditions":[{"match_type":"sender","operator":"ends_with","value":"@billing.example.com"}],"destinations":[{"email":"finance@example.com"}]}'
    headers:
      Authorization:
      - Bearer <BEARER_TOKEN>
      Content-Type:
      - application/json
  response:
    status:
      code: 201
      message: Created
    headers:
      Content-Type:
      - application/json; charset=utf-8
      X-Mailtrap-Version:
      - v2
      X-Ratelimit-Limit:
      - '150'
      X-Ratelimit-Remaining:
      - '149'
      Etag:
      - W/"cb7e9b84695cc86d37240a44e313ae55"
    body:
      encoding: UTF-8
      string: '{"data":{"id":2,"name":"Copy billing mail to finance","created_at":"2026-10-05T14:14:03.975Z","updated_at":"2026-10-05T14:14:03.975Z","conditions":[{"match_type":"sender","operator":"ends_with","value":"@billing.example.com","header_key":null}],"destinations":[{"email":
        "welcome@rw.com"}]}}'
  recorded_at: Mon, 05 Oct 2026 14:14:04 GMT
recorded_with: VCR 6.4.0
