---
http_interactions:
- request:
    method: post
    uri: https://mailtrap.io/api/accounts/1111111/email_templates
    body:
      encoding: UTF-8
      string: '{"email_template":{"name":"Template to Delete","subject":"Delete Subject","category":"Delete
        Category","body_html":"<div>Delete HTML</div>","body_text":"Delete Text"}}'
    headers:
      Authorization:
      - Bearer <BEARER_TOKEN>
      Content-Type:
      - application/json
  response:
    status:
      code: 201
      message: Created
    headers:
      Content-Type:
      - application/json; charset=utf-8
      X-Mailtrap-Version:
      - v2
      X-Ratelimit-Limit:
      - '150'
      X-Ratelimit-Remaining:
      - '112'
      Etag:
      - W/"cf7eeac15cd9f0c7634a09c87a694811"
      X-Cloud-Trace-Context:
      - c76b54bf6c84452c81b4c736a46b52f7;o=0
    body:
      encoding: UTF-8
      string: '{"id":40446,"uuid":"84e6d3d7-7d37-4dec-bcc3-8d8c82a63e11","name":"Template
        to Delete","category":"Delete Category","subject":"Delete Subject","body_html":"<div>Delete
        HTML</div>","body_text":"Delete Text","created_at":"2025-06-23T06:54:58.904Z","updated_at":"2025-06-23T06:54:58.904Z"}'
  recorded_at: Mon, 23 Jun 2025 06:54:59 GMT
- request:
    method: delete
    uri: https://mailtrap.io/api/accounts/1111111/email_templates/999999
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Bearer <BEARER_TOKEN>
      Content-Type:
      - application/json
  response:
    status:
      code: 404
      message: Not Found
    headers:
      Content-Type:
      - application/json; charset=utf-8
      X-Mailtrap-Version:
      - v2
      X-Ratelimit-Limit:
      - '150'
      X-Ratelimit-Remaining:
      - '111'
      X-Cloud-Trace-Context:
      - d78db21094e9415bc07198393280ba7d;o=0
    body:
      encoding: UTF-8
      string: '{"error":"Not Found"}'
  recorded_at: Mon, 23 Jun 2025 06:54:59 GMT
recorded_with: VCR 6.2.0
