---
http_interactions:
- request:
    method: post
    uri: https://mailtrap.io/api/accounts/1111111/sending_domains
    body:
      encoding: UTF-8
      string: '{"sending_domain":{"domain_name":""}}'
    headers:
      Authorization:
      - Bearer <BEARER_TOKEN>
      Content-Type:
      - application/json
  response:
    status:
      code: 422
      message: Unprocessable Entity
    headers:
      Content-Type:
      - application/json; charset=utf-8
      X-Mailtrap-Version:
      - v2
      X-Ratelimit-Limit:
      - '150'
      X-Ratelimit-Remaining:
      - '149'
      X-Cloud-Trace-Context:
      - 8086e5880b4c42658ff1eb5c747366fb;o=3
    body:
      encoding: UTF-8
      string: '{"errors":{"base":["Validation failed: Domain name can''t be blank,
        Tracking domain name is not a valid domain name"]}}'
  recorded_at: Sun, 04 Jan 2026 16:27:59 GMT
recorded_with: VCR 6.2.0
