---
http_interactions:
- request:
    method: post
    uri: https://mailtrap.io/api/accounts/1111111/email_templates
    body:
      encoding: UTF-8
      string: '{"email_template":{"name":"Original Template","subject":"Original Subject","category":"Original
        Category","body_html":"<div>Original HTML</div>","body_text":"Original Text"}}'
    headers:
      Authorization:
      - Bearer <BEARER_TOKEN>
      Content-Type:
      - application/json
  response:
    status:
      code: 201
      message: Created
    headers:
      Content-Type:
      - application/json; charset=utf-8
      X-Mailtrap-Version:
      - v2
      X-Ratelimit-Limit:
      - '150'
      X-Ratelimit-Remaining:
      - '136'
      Etag:
      - W/"c080ed14b14d1c22c4c044e10ac91f22"
    body:
      encoding: UTF-8
      string: '{"id":40434,"uuid":"bf4850a1-082d-45f1-98ac-7d61f4107653","name":"Original
        Template","category":"Original Category","subject":"Original Subject","body_html":"<div>Original
        HTML</div>","body_text":"Original Text","created_at":"2025-06-23T06:54:53.343Z","updated_at":"2025-06-23T06:54:53.343Z"}'
  recorded_at: Mon, 23 Jun 2025 06:54:53 GMT
- request:
    method: patch
    uri: https://mailtrap.io/api/accounts/1111111/email_templates/40434
    body:
      encoding: UTF-8
      string: '{"email_template":{"name":"Updated Template","subject":"Updated Subject","category":"Updated
        Category"}}'
    headers:
      Authorization:
      - Bearer <BEARER_TOKEN>
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      X-Mailtrap-Version:
      - v2
      X-Ratelimit-Limit:
      - '150'
      X-Ratelimit-Remaining:
      - '135'
      Etag:
      - W/"f394de9ab1f215d65167aced7ba224d1"
    body:
      encoding: ASCII-8BIT
      string: '{"id":40434,"uuid":"bf4850a1-082d-45f1-98ac-7d61f4107653","name":"Updated
        Template","category":"Updated Category","subject":"Updated Subject","body_html":"<div>Original
        HTML</div>","body_text":"Original Text","created_at":"2025-06-23T06:54:53.343Z","updated_at":"2025-06-23T06:54:53.570Z"}'
  recorded_at: Mon, 23 Jun 2025 06:54:53 GMT
recorded_with: VCR 6.2.0
