---
http_interactions:
- request:
    method: post
    uri: https://mailtrap.io/api/accounts/1111111/email_templates
    body:
      encoding: UTF-8
      string: '{"email_template":{"name":"Original Template","subject":"Original Subject","category":"Original
        Category","body_html":"<div>Original HTML</div>","body_text":"Original Text"}}'
    headers:
      Authorization:
      - Bearer <BEARER_TOKEN>
      Content-Type:
      - application/json
  response:
    status:
      code: 201
      message: Created
    headers:
      Content-Type:
      - application/json; charset=utf-8
      X-Mailtrap-Version:
      - v2
      X-Ratelimit-Limit:
      - '150'
      X-Ratelimit-Remaining:
      - '138'
      Etag:
      - W/"78ab1a86db473612bf0990a69649913c"
    body:
      encoding: UTF-8
      string: '{"id":40433,"uuid":"e6c201cd-9e16-43a1-81f9-bc7962e73921","name":"Original
        Template","category":"Original Category","subject":"Original Subject","body_html":"<div>Original
        HTML</div>","body_text":"Original Text","created_at":"2025-06-23T06:54:52.883Z","updated_at":"2025-06-23T06:54:52.883Z"}'
  recorded_at: Mon, 23 Jun 2025 06:54:52 GMT
- request:
    method: patch
    uri: https://mailtrap.io/api/accounts/1111111/email_templates/40433
    body:
      encoding: UTF-8
      string: '{"email_template":{"name":"Updated Template","subject":"Updated Subject","category":"Updated
        Category"}}'
    headers:
      Authorization:
      - Bearer <BEARER_TOKEN>
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      X-Mailtrap-Version:
      - v2
      X-Ratelimit-Limit:
      - '150'
      X-Ratelimit-Remaining:
      - '137'
      Etag:
      - W/"c860229663a246f417bf8c86e64687c7"
    body:
      encoding: ASCII-8BIT
      string: '{"id":40433,"uuid":"e6c201cd-9e16-43a1-81f9-bc7962e73921","name":"Updated
        Template","category":"Updated Category","subject":"Updated Subject","body_html":"<div>Original
        HTML</div>","body_text":"Original Text","created_at":"2025-06-23T06:54:52.883Z","updated_at":"2025-06-23T06:54:53.107Z"}'
  recorded_at: Mon, 23 Jun 2025 06:54:53 GMT
recorded_with: VCR 6.2.0
