---
http_interactions:
- request:
    method: post
    uri: https://mailtrap.io/api/accounts/1111111/projects/2379735/inboxes
    body:
      encoding: UTF-8
      string: '{"inbox":{"name":"","project_id":2379735}}'
    headers:
      Authorization:
      - Bearer <BEARER_TOKEN>
      Content-Type:
      - application/json
  response:
    status:
      code: 422
      message: Unprocessable Entity
    headers:
      Content-Type:
      - application/json; charset=utf-8
      X-Mailtrap-Version:
      - v2
      X-Ratelimit-Limit:
      - '150'
      X-Ratelimit-Remaining:
      - '148'
    body:
      encoding: UTF-8
      string: '{"errors":{"name":["You''ve reached the sandboxes limit. Please upgrade
        your plan to create the new sandbox"]}}'
  recorded_at: Fri, 26 Dec 2025 16:53:29 GMT
recorded_with: VCR 6.2.0
