---
http_interactions:
- request:
    method: patch
    uri: https://mailtrap.io/api/inbound/folders/77/inboxes/513
    body:
      encoding: UTF-8
      string: '{"name":"Tickets (renamed)"}'
    headers:
      Authorization:
      - Bearer <BEARER_TOKEN>
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      X-Mailtrap-Version:
      - v2
      X-Ratelimit-Limit:
      - '150'
      X-Ratelimit-Remaining:
      - '149'
      Etag:
      - W/"a9fd658cef5554f16b6b7fe7ac3dd559"
    body:
      encoding: ASCII-8BIT
      string: '{"id":513,"name":"Tickets (renamed)","address":"tickets-1a2b3c4d@inbound-mailtrap.io","domain_id":1237003}'
  recorded_at: Fri, 24 Jul 2026 05:26:00 GMT
recorded_with: VCR 6.4.0
