---
http_interactions:
- request:
    method: get
    uri: https://mailtrap.io/api/inbound/inboxes/513/messages/1871574677877796928
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Bearer <BEARER_TOKEN>
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      X-Mailtrap-Version:
      - v2
      X-Ratelimit-Limit:
      - '150'
      X-Ratelimit-Remaining:
      - '149'
      Etag:
      - W/"0e8fb328ca23c2bb76d0154d5dea76bf"
    body:
      encoding: ASCII-8BIT
      string: '{"id":"1871574677877796928","inbox_id":513,"from":"Inbound Tester <sender@example.com>","to":["tickets-1a2b3c4d@inbound-mailtrap.io"],"cc":[],"bcc":[],"reply_to":null,"subject":"Inbound
        test 2026-07-24T05:58:20Z","headers":{"mime-version":"1.0", "return-path":""},"size":4210,"html_size":968,"text_size":351,"received_at":"2026-07-24T05:58:21.528Z","rfc_message_id":"<ace7a270-8724-11f1-0040-f14113a7558c@example.com>","in_reply_to":null,"references":[],"thread_id":"1871574677878845504","attachments":[],"raw_message_url":"https://mailsend-us-inbound-mail-bodies.s3.amazonaws.com/raw/c3b/292/1871574677877796928/raw.eml?X-Amz-Algorithm=AWS4-HMAC-SHA256&X-Amz-Credential=ASIAWYSURJ3UHLCG6JQ7%2F20260724%2Fus-east-1%2Fs3%2Faws4_request&X-Amz-Date=20260724T060123Z&X-Amz-Expires=3600&X-Amz-Security-Token=IQoJb3JpZ2luX2VjEDUaCXVzLWVhc3QtMSJHMEUCIH9u%2BHOb4l%2B1ZFnNCLWzphITJt6I3taUKyf8nSVY4V8JAiEA4es2wKLun0kAbwWXIMleOdvbevn%2Bwzq%2FMent%2F02hcvUqggQI%2Fv%2F%2F%2F%2F%2F%2F%2F%2F%2F%2FARAAGgw0NjUxMDc1MDQ4NzIiDBxJ01lkJNHlF%2F[...]
