---
http_interactions:
- request:
    method: get
    uri: https://mailtrap.io/api/inbound/inboxes/513/messages/1871574677877796928
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Bearer <BEARER_TOKEN>
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      X-Mailtrap-Version:
      - v2
      X-Ratelimit-Limit:
      - '150'
      X-Ratelimit-Remaining:
      - '149'
      Etag:
      - W/"0e8fb328ca23c2bb76d0154d5dea76bf"
    body:
      encoding: ASCII-8BIT
      string: '{"id":"1871574677877796928","inbox_id":513,"from":"Inbound Tester <sender@example.com>","to":["tickets-1a2b3c4d@inbound-mailtrap.io"],"cc":[],"bcc":[],"reply_to":null,"subject":"Inbound
        test 2026-07-24T05:58:20Z","headers":{"mime-version":"1.0", "return-path":""},"size":4210,"html_size":968,"text_size":351,"received_at":"2026-07-24T05:58:21.528Z","rfc_message_id":"<ace7a270-8724-11f1-0040-f14113a7558c@example.com>","in_reply_to":null,"references":[],"thread_id":"1871574677878845504","attachments":[],"raw_message_url":"https://mailsend-us-inbound-mail-bodies.s3.amazonaws.com/raw/c3b/292/1871574677877796928/raw.eml?X-Amz-Signature=REDACTED","raw_message_expires_at":"2026-07-24T07:01:23.851Z","html_body":"<p>Hello
        from the inbound test script.</p><table style=\"font-family:Helvetica,Arial,sans-serif;font-size:12px;color:#000;width:95%;margin:32px
        auto 24px;border:none;border-top:1px solid #eee;\" cellspacing=\"20\" cellpadding=\"0\">\r\n  <tr>\r\n    <td
        style=\"text-align:center;\">\r\n      <a href=\"https://t.mailtrap.net/out/REDACTED\"
        style=\"font-weight:700;color:#000;\">Unsubscribe</a>\r\n    </td>\r\n  </tr>\r\n</table>\r\n<img
        src=\"https://t.mailtrap.net/op/REDACTED.gif\"
        width=\"1\" height=\"1\" alt=\"\" />","text_body":"Hello from the inbound
        test script.\r\n\r\nUnsubscribe: https://t.mailtrap.net/out/REDACTED"}'
  recorded_at: Fri, 24 Jul 2026 06:01:23 GMT
recorded_with: VCR 6.4.0
