---
http_interactions:
- request:
    method: post
    uri: https://mailtrap.io/api/accounts/1111111/api_tokens/2498713/reset
    body:
      encoding: UTF-8
      string: '{"expires_at":"2027-06-01T00:00:00Z"}'
    headers:
      Authorization:
      - Bearer <BEARER_TOKEN>
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      X-Mailtrap-Version:
      - v2
      X-Ratelimit-Limit:
      - '150'
      X-Ratelimit-Remaining:
      - '149'
      Etag:
      - W/"3f2e1d0c4b5a69788796a5b4c3d2e1b7"
    body:
      encoding: ASCII-8BIT
      string: '{"resources":[{"resource_type":"account","resource_id":1719941,"access_level":100}],"id":2498722,"name":"Ruby
        SDK Test Token 2498722","last_4_digits":"899a","created_by":"SDK Dev Account
        Token","expires_at":"2027-06-01T00:00:00Z","token":"xxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxx"}'
  recorded_at: Mon, 03 Aug 2026 10:00:03 GMT
recorded_with: VCR 6.4.0
